<!DOCTYPE html>
<html lang="ru" itemscope>
<head>
    <title>EHRLE</title>
<meta name="google-site-verification" content="" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="Бесконтактные мойки самообслуживания, которые работают 24 часа в сутки, 7 дней в неделю - все время генерируя прибыль по всей Европе и за ее пределами">
<meta name="keywords" content="мойка, автомойка, ehrle, самообслуживание, бесконтактные мойки, инвестиции">
<meta name="author" content="Yerbol Syzdyk, Aidos Kurmashev">
<!--<meta property="og:image" content="url_image">-->
<!--<meta property="og:title" content="">-->
<!--<meta property="twitter:title" content="">-->
<!--<meta property="og:description" content="">-->
<!--<meta property="twitter:description" content="">-->
<!--<meta name="twitter:image" content="">-->
<!--<meta property="og:image" content="">-->
<!--<meta property="og:type" content="website">-->
<!--<meta property="og:url" content="">-->
<!--<meta property="og:site_name" content="">-->
<!--<meta property="og:locale" content="ru-RU">-->
<!--<meta name="twitter:url" content="">-->
<!--<meta name="yandex-verification" content=""/>-->
<link rel="stylesheet" href="./assets/css/main.css"/>
<link rel="shortcut icon" href="/favicon.ico"/>
    <!-- endbuild -->
</head>
<body class="lang-ru">
<div id="app">
    <input type="hidden" value="index" id="sitepage"/>
    <header>
<div class="menu" :class="{'menu-opened': isMenuOpened}">
  <div class="container">
    <div class="menu_nav menu_row">
      <div class="menu_col">
        <a class="menu_col_title menu_title" href="./#section_products" @click="closeMenu">Продукты</a>
        <div class="menu_links">
          <a class="menu_link" href="./prod-container_carwash.html" @click="closeMenu">Контейнерные автомойки CarWash</a>
          <a class="menu_link" href="./prod-module_carwash.html" @click="closeMenu">Модульные автомойки CarWash</a>
          <a class="menu_link" href="./prod-jetwash.html" @click="closeMenu">Автомойка JetWash</a>
          <a class="menu_link" href="./prod-smartwash.html" @click="closeMenu">Автомойка SmartWash</a>
          <a class="menu_link" href="./prod-chemistry.html" @click="closeMenu">Химия</a>
          <a class="menu_link" href="./prod-metal.html" @click="closeMenu">Металлоконструкции</a>
          <a class="menu_link" href="./prod-accessories.html" @click="closeMenu">Аксессуары</a>
          <a class="menu_link" href="./prod-apparatuses.html" @click="closeMenu">Аппараты высокого давления</a>
          <a class="menu_link" href="./prod-vacuum.html" @click="closeMenu">Профессиональные пылесосы</a>
        </div>
      </div>
      <div class="menu_col">
        <a class="menu_col_title menu_title" href="./tech-beskontakt.html" @click="closeMenu">Технология</a>
        <div class="menu_links">
          <a class="menu_link" href="./tech-beskontakt.html" @click="closeMenu">Бесконтакная мойка</a>
          <a class="menu_link" href="./tech-vda.html" @click="closeMenu">Сертификат VDA</a>
          <a class="menu_link" href="./tech-modul_line.html" @click="closeMenu">Modul Line ETRONIC 4</a>
          <a class="menu_link" href="./tech-ehrlesol.html"  @click="closeMenu">EHRLESol™</a>
          <a class="menu_link" href="./tech-real_time_display.html" @click="closeMenu">Real Time Display</a>
          <a class="menu_link" href="./tech-lce_slm.html" @click="closeMenu">LCE / SLM</a>
          <a class="menu_link" href="./tech-micropowder.html" @click="closeMenu">Система Дoзaции Микpoпopoшкa</a>
          <a class="menu_link" href="./tech-foam.html" @click="closeMenu">Активная пена</a>
        </div>
      </div>
      <div class="menu_col">
        <a class="menu_col_title menu_title" href="./business.html" @click="closeMenu">Бизнес с EHRLE</a>
        <div class="menu_links">
          <a class="menu_link" href="./business.html" @click="closeMenu">Мойка под ключ</a>
          <a class="menu_link" href="./calculator.html" @click="closeMenu">Рассчёт стройки и рентабельности</a>
        </div>
        <!--<a class="menu_col_title menu_title" href="#" target="_blank">Компания</a>-->
        <!--<div class="menu_links">-->
          <!--<a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/tradicyi/" target="_blank">Традиция</a>-->
          <!--<a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/ehrle_w_mirie/" target="_blank">EHRLE в мире</a>-->
          <!--<a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/naszy_zawody/" target="_blank">Наши заводы</a>-->
          <!--<a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/nowosti_ehrle/" target="_blank">Новости EHRLE</a>-->
        <!--</div>-->
      </div>
    </div>
    <div class="menu_line"></div>
    <div class="menu_footer menu_row">
      <div class="menu_col">
        <a href="#" target="_blank" class="menu_link menu_link-accent">Почему Ehrle?</a>
        <a href="#" target="_blank" class="menu_link menu_link-accent">Программа лояльности</a>
        <div class="social_links mt-0">
          <div class="menu_title social_label mb-0">Мы в соц. сетях:</div>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_vk.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_instagram.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_twitter.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_facebook.svg" alt="">
          </a>
        </div>
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Инвестиционный процесс шаг за шагом</a>-->
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Галерея реализации</a>-->
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Спроектируй свою мойку</a>-->
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Стройка И Монтаж Автомойки EHRLE</a>-->
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Ehrle в зимний период</a>-->
      </div>
      <div class="menu_col menu_col-wide">
        <div class="menu_col_title menu_title">Приходите к нам в гости</div>
        <a href="#" target="_blank" class="menu_map">
          <img src="./assets/images/map.jpg" srcset="./assets/images/map@2x.jpg 2x" alt="">
        </a>
      </div>
      <div class="menu_col">
      </div>
    </div>
  </div>
</div>
<nav class="nav">
  <div class="container d-flex">
    <a href="/" class="mr-xl-3 mr-1"><img class="nav_brand" src="./assets/images/ehrle_logo.png" height="40px" alt=""></a>
    <img class="nav_second_logo mr-xl-4 mr-2" src="./assets/images/german_logo.png" height="44px" alt="">
    <div class="link_contact icon_block d-none d-md-block ml-auto mr-xl-3 mr-0">
      <a href="tel: +7 (702) 777-77-77" target="_blank">
        <div class="icon_block_icon">
          <img src="./assets/images/phone.svg" alt="">
        </div>
        <div class="d-none d-xl-block icon_block_value pseudo_link">+7 (702) 777-77-77</div>
        <div class="d-none d-xl-block icon_block_subtitle">Номер телефона</div>
      </a>
    </div>
    <div class="link_contact icon_block d-none d-md-block ml-xl-3 ml-1 mr-auto">
      <a href="mailto: EhrleCA@gmail.com" target="_blank">
        <div class="icon_block_icon">
          <img src="./assets/images/email.svg" alt="">
        </div>
        <div class="d-none d-xl-block icon_block_value pseudo_link">EhrleCA@gmail.com</div>
        <div class="d-none d-xl-block icon_block_subtitle">Адрес почты</div>
      </a>
    </div>
    <div class="icon_block ml-auto">
      <button class="btn_custom" @click="toggleMenu">
        <div class="icon_block_icon">
          <div class="menu_toggler" :class="{'menu_toggler-close': isMenuOpened}"><span></span><span></span><span></span></div>
        </div>
        <div class="d-none d-xl-block icon_block_value">Меню</div>
        <div class="d-none d-xl-block icon_block_subtitle">Все для бизнеса</div>
      </button>
    </div>
    <div class="icon_block ml-xl-3 ml-1 lang_select lang_select_container" :class="{'lang_select-opened': isLanguagesSelecting}">
      <button class="btn_custom lang_select_item" v-for="lang in languages" @click="langButtonPressed(lang)" :class="{'lang_select_item-selected': lang===selectedLang}">
        <div class="icon_block_icon">
          <span class="icon_block_icon_text fw-bold">{{lang.toUpperCase()}}</span>
        </div>
      </button>
      <div class="lang_select_backdrop" @click="langButtonPressed(selectedLang)"></div>
    </div>
  </div>
</nav>
  <scroll-top v-if="showScroll"/>
</header>
    <section class="hero_section">
  <div class="slide">
    <div class="container">
      <div class="hero_container">
        <h1 class="landing_header">
          Инвестируй в автомойки с мировым лидером!
        </h1>
        <div class="hero_logo"><img src="./assets/images/ehrle_logo.png" alt=""></div>
        <div class="section_title">
          Быть с EHRLE –<br/>
          быть первым<br/>
          в бизнесе!
        </div>
        <p class="paragraph">
          <span class="colored">Бесконтактная мойка для бережливых и заботливых автолюбителей.</span> <a href="./tech-beskontakt.html" class="pseudo_link link_masked">Подробнее</a>
        </p>
        <button class="btn btn_primary" @click="openModal">
          Оставить заявку
        </button>
      </div>
    </div>
  </div>
</section>

    <section class="section products_section" id="section_products">
  <h2 class="section_title">
    Основные продукты
  </h2>
  <ul class="ul_custom d-flex flex-wrap justify-content-between product_container">
    <li class="product_item pseudo_link link_masked" :class="{product_item_active: productActiveIndex===0}" @click="setProduct(0)">
      <div class="product_item_body">
        <img class="product_item_image" src="./assets/images/1-prod.jpg" alt="">
        <p class="product_item_label">Контейнер автомойки CarWash</p>
      </div>
      <div class="product_description product-hide_mobile">
        <h3 class="heading mb-4">Контейнерные автомойки CarWash</h3>
        <img class="product_description_image" src="./assets/images/1_prod.jpg" alt="">
        <h4 class="title">Преимущества</h4>
        <ul class="ul_custom my-3 product_description_list">
          <li>1. Автономные модули с возможностью установки 3-12 постов;</li>
          <li>2. Оборудование максимальная производительность;</li>
          <li>3. Высокая защита оборудования и модулей;</li>
        </ul>
        <a href="./prod-container_carwash.html" class="d-block mt-5">
          <button class="btn btn_primary btn_big">
            Узнать подробнее
          </button>
        </a>
      </div>
    </li>
    <li class="product_item pseudo_link link_masked" :class="{product_item_active: productActiveIndex===1}" @click="setProduct(1)">
      <div class="product_item_body">
        <img class="product_item_image" src="./assets/images/2-prod.jpg" alt="">
        <p class="product_item_label">Модульные автомойки CarWash</p>
      </div>
      <div class="product_description product-hide_mobile">
        <h3 class="heading mb-4">Модульные автомойки CarWash</h3>
        <img class="product_description_image" src="./assets/images/2_prod.jpg" alt="">
        <h4 class="title">Преимущества</h4>
        <ul class="ul_custom my-3 product_description_list">
          <li>1. Уникальное оборудование с возможностью установки от 2 и более постов;</li>
          <li>2. Не требует контейнера под размещение;</li>
          <li>3. Очень простой монтаж, при высокой надежности;</li>
        </ul>
        <a href="./prod-module_carwash.html" class="d-block mt-5">
          <button class="btn btn_primary btn_big">
            Узнать подробнее
          </button>
        </a>
      </div>
    </li>
    <li class="product_item pseudo_link link_masked" :class="{product_item_active: productActiveIndex===2}" @click="setProduct(2)">
      <div class="product_item_body">
        <img class="product_item_image" src="./assets/images/3-prod.jpg" alt="">
        <p class="product_item_label">Автомойка SmartWash</p>
      </div>
      <div class="product_description product-hide_mobile">
        <h3 class="heading mb-4">Автомойка SmartWash</h3>
        <img class="product_description_image" src="./assets/images/3_prod_desc.jpg" alt="">
        <h4 class="title">Преимущества</h4>
        <ul class="ul_custom my-3 product_description_list">
          <li>1. Уникальная мини мойка на 1 пост;</li>
          <li>2. Помещается там, где ни одна мойка не встает;</li>
          <li>3. Самый простой монтаж, высокая рентабельность;</li>
        </ul>
        <a href="./prod-smartwash.html" class="d-block mt-5">
          <button class="btn btn_primary btn_big">
            Узнать подробнее
          </button>
        </a>
      </div>
    </li>
    <li class="product_item pseudo_link link_masked" :class="{product_item_active: productActiveIndex===3}" @click="setProduct(3)">
      <div class="product_item_body">
        <img class="product_item_image" src="./assets/images/4-prod.jpg" alt="">
        <p class="product_item_label">Собственная продукция<br/>по химии</p>
      </div>
      <div class="product_description product-hide_mobile">
        <h3 class="heading mb-4">Контейнерные автомойки CarWash</h3>
        <img class="product_description_image" src="./assets/images/4_prod_desc.jpg" alt="">
        <h4 class="title">Преимущества</h4>
        <ul class="ul_custom my-3 product_description_list">
          <li>1. Собственое произсводство химии;</li>
          <li>2. Максимальный эффект за счет единой технологии с оборудованием;</li>
          <li>3. Соответствует всем международным стандартам качества и безопасности;</li>
        </ul>
        <a href="./prod-chemistry.html" class="d-block mt-5">
          <button class="btn btn_primary btn_big">
            Узнать подробнее
          </button>
        </a>
      </div>
    </li>
  </ul>
  <div class="container" style="position: relative">
    <div class="product_line"></div>
  </div>
  <div class="container mt-5 product-hide_desktop">
    <ul class="ul_custom slide_list" :class="'slide_list-go-' + productGoing">
      <li class="slide_list_item" :class="{'slide_list_item-active': productActiveIndex===0}">
        <div class="product_description">
          <h3 class="heading mb-4">Контейнерные автомойки CarWash</h3>
          <img class="product_description_image" src="./assets/images/1_prod_hd.jpg" alt="">
          <h4 class="title">Преимущества</h4>
          <ul class="ul_custom my-3 product_description_list">
            <li>1. Автономные модули с возможностью установки 3-12 постов;</li>
            <li>2. Оборудование максимальная производительность;</li>
            <li>3. Высокая защита оборудования и модулей;</li>
          </ul>
          <a href="./prod-container_carwash.html" class="d-block mt-5">
            <button class="btn btn_primary btn_big">
              Узнать подробнее
            </button>
          </a>
        </div>
      </li>
      <li class="slide_list_item" :class="{'slide_list_item-active': productActiveIndex===1}">
        <div class="product_description">
          <h3 class="heading mb-4">Модульные автомойки CarWash</h3>
          <img class="product_description_image" src="./assets/images/2_prod_hd.jpg" alt="">
          <h4 class="title">Преимущества</h4>
          <ul class="ul_custom my-3 product_description_list">
            <li>1. Уникальное оборудование с возможностью установки от 2 и более постов;</li>
            <li>2. Не требует контейнера под размещение;</li>
            <li>3. Очень простой монтаж, при высокой надежности;</li>
          </ul>
          <a href="./prod-module_carwash.html" class="d-block mt-5">
            <button class="btn btn_primary btn_big">
              Узнать подробнее
            </button>
          </a>
        </div>
      </li>
      <li class="slide_list_item" :class="{'slide_list_item-active': productActiveIndex===2}">
        <div class="product_description">
          <h3 class="heading mb-4">Автомойка SmartWash</h3>
          <img class="product_description_image" src="./assets/images/3_prod_desc.jpg" alt="">
          <h4 class="title">Преимущества</h4>
          <ul class="ul_custom my-3 product_description_list">
            <li>1. Уникальная мини мойка на 1 пост;</li>
            <li>2. Помещается там, где ни одна мойка не встает;</li>
            <li>3. Самый простой монтаж, высокая рентабельность;</li>
          </ul>
          <a href="./prod-smartwash.html" class="d-block mt-5">
            <button class="btn btn_primary btn_big">
              Узнать подробнее
            </button>
          </a>
        </div>
      </li>
      <li class="slide_list_item" :class="{'slide_list_item-active': productActiveIndex===3}">
        <div class="product_description">
          <h3 class="heading mb-4">Собственная продукция</h3>
          <img class="product_description_image" src="./assets/images/4_prod_desc.jpg" alt="">
          <h4 class="title">Преимущества</h4>
          <ul class="ul_custom my-3 product_description_list">
            <li>1. Собственое произсводство химии;</li>
            <li>2. Максимальный эффект за счет единой технологии с оборудованием;</li>
            <li>3. Соответствует всем международным стандартам качества и безопасности;</li>
          </ul>
          <a href="./prod-chemistry.html" class="d-block mt-5">
            <button class="btn btn_primary btn_big">
              Узнать подробнее
            </button>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>

    <section class="section concepts_section">
  <h2 class="section_title mb-5">
    Легкая концепция бизнеса подходит для каждого сегмента
  </h2>
  <ul class="ul_custom d-flex flex-wrap justify-content-center mb-5 pb-5 hide_mobile">
    <li class="radio_field concept_radio" @click="setConcept(0)">
      <div class="input_radio" :class="{input_radio_checked: conceptActiveIndex===0}"></div>
      <span class="radio_field_label">Для частных инвесторов</span>
    </li>
    <li class="radio_field concept_radio" @click="setConcept(1)">
      <div class="input_radio" :class="{input_radio_checked: conceptActiveIndex===1}"></div>
      <span class="radio_field_label">Для действующих владельцев автомоек</span>
    </li>
    <li class="radio_field concept_radio" @click="setConcept(2)">
      <div class="input_radio" :class="{input_radio_checked: conceptActiveIndex===2}"></div>
      <span class="radio_field_label">Для сетей АЗС, Супермаркетов, ТРЦ</span>
    </li>
  </ul>
  <div class="slide_list hide_mobile" :class="'slide_list-go-' + conceptGoing">
    <div class="slide_list_item" :class="{'slide_list_item-active': conceptActiveIndex===0}">
      <div class="concept_description d-flex flex-wrap justify-content-center">
        <div class="concept_description_image">
          <img src="./assets/images/1-concept.svg" alt="">
        </div>
        <div class="concept_description_body">
          <ul class="ul_classic mt-4 mb-5">
            <li class="paragraph">ROE = 35%></li>
            <li class="paragraph">CIR = 75%></li>
            <li class="paragraph">Стабильный бизнес</li>
            <li class="paragraph">Срок запуска до 8-и месяцев</li>
            <li class="paragraph">Размер инвестиций от 40,000$<br/> (+ банковское финансирование)</li>
          </ul>
          <button class="btn btn_primary" @click="openModal">
            Оставить заявку
          </button>
        </div>
      </div>
    </div>
    <div class="slide_list_item" :class="{'slide_list_item-active': conceptActiveIndex===1}">
      <div class="concept_description d-flex flex-wrap justify-content-center">
        <div class="concept_description_image">
          <img src="./assets/images/2_concept.png" alt="">
        </div>
        <div class="concept_description_body"><ul class="ul_classic mt-4 mb-5">
            <li class="paragraph">Повышение доходности</li>
            <li class="paragraph">Рыночные тренды</li>
            <li class="paragraph">Быстрый запуск</li>
            <li class="paragraph">Минимальные инвестиции</li>
            <li class="paragraph">Действующая клиентская база</li>
          </ul>
          <button class="btn btn_primary" @click="openModal">
            Оставить заявку
          </button>
        </div>
      </div>
    </div>
    <div class="slide_list_item" :class="{'slide_list_item-active': conceptActiveIndex===2}">
      <div class="concept_description d-flex flex-wrap justify-content-center">
        <div class="concept_description_image">
          <img src="./assets/images/3_concept.png" alt="">
        </div>
        <div class="concept_description_body">
          <ul class="ul_classic mt-4 mb-5">
            <li class="paragraph">Дополнительный источник доходов</li>
            <li class="paragraph">Увеличение клиентской базы</li>
            <li class="paragraph">Наличие инфраструктуры</li>
            <li class="paragraph">Лояльность клиентов</li>
            <li class="paragraph">Быстрый запуск</li>
          </ul>
          <button class="btn btn_primary" @click="openModal">
            Оставить заявку
          </button>
        </div>
      </div>
    </div>
    <div class="slide_list_controls">
      <button class="btn_circle ml-auto" :disabled="conceptActiveIndex<=0" @click="setConcept(conceptActiveIndex-1)"><img src="./assets/images/arrow_prev.svg" alt=""></button>
      <button class="btn_circle ml-auto" :disabled="conceptActiveIndex>=conceptsLength-1" @click="setConcept(conceptActiveIndex+1)"><img src="./assets/images/arrow_next.svg" alt=""></button>
    </div>
  </div>
  <ul class="hide_desktop accordion_list">
    <li class="accordion_option" :class="{'accordion_option-selected': conceptActiveIndex===0}">
      <div class="accordion_option_label" @click="setConcept(0)">Для частных инвесторов</div>
      <div class="accordion_option_body">
        <div class="concept_description">
          <div class="concept_description_image">
            <img src="./assets/images/1-concept.svg" alt="">
          </div>
          <div class="concept_description_body">
            <ul class="ul_classic mt-4 mb-5">
              <li class="paragraph">ROE = 35%></li>
              <li class="paragraph">CIR = 75%></li>
              <li class="paragraph">Стабильный бизнес</li>
              <li class="paragraph">Срок запуска до 8-и месяцев</li>
              <li class="paragraph">Размер инвестиций от 40,000$ (+ банковское финансирование)</li>
            </ul>
            <button class="btn btn_primary" @click="openModal">
              Оставить заявку
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="accordion_option" :class="{'accordion_option-selected': conceptActiveIndex===1}">
      <div class="accordion_option_label" @click="setConcept(1)">Для действующих владельцев автомоек</div>
      <div class="accordion_option_body">
        <div class="concept_description">
          <div class="concept_description_image">
            <img src="./assets/images/2_concept.png" alt="">
          </div>
          <div class="concept_description_body">
            <ul class="ul_classic mt-4 mb-5">
              <li class="paragraph">Повышение доходности</li>
              <li class="paragraph">Рыночные тренды</li>
              <li class="paragraph">Быстрый запуск</li>
              <li class="paragraph">Минимальные инвестиции</li>
              <li class="paragraph">Действующая клиентская база</li>
            </ul>
            <button class="btn btn_primary" @click="openModal">
              Оставить заявку
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="accordion_option" :class="{'accordion_option-selected': conceptActiveIndex===2}">
      <div class="accordion_option_label" @click="setConcept(2)">Для сетей АЗС, Супермаркетов, ТРЦ</div>
      <div class="accordion_option_body">
        <div class="concept_description">
          <div class="concept_description_image">
            <img src="./assets/images/3_concept.png" alt="">
          </div>
          <div class="concept_description_body">
            <ul class="ul_classic mt-4 mb-5">
              <li class="paragraph">Дополнительный источник доходов</li>
              <li class="paragraph">Увеличение клиентской базы</li>
              <li class="paragraph">Наличие инфраструктуры</li>
              <li class="paragraph">Лояльность клиентов</li>
              <li class="paragraph">Быстрый запуск</li>
            </ul>
            <button class="btn btn_primary" @click="openModal">
              Оставить заявку
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>

    <section class="section calculator_section">
  <h2 class="section_title text-center">
    Ваши инвестиции в мойки “Ehrle”
  </h2>
  <div class="paragraph paragraph-c mx-auto" style="max-width: 555px">
    Мы работем на расширение территории EHRLE, не теряя качество сервиса. Инвесторы зарабатывают вместе с нами.
  </div>
  <div class="calculator_box">
    <div class="box_image">
      <img src="./assets/images/calculations.svg" alt="">
    </div>
    <div class="title">
      Расчёт стройки и рентабельности
    </div>
    <a href="../calculator.html">
      <button class="btn btn_primary btn_outline">Рассчитать мой проект</button>
    </a>
  </div>
</section>

    <section class="section advantages_section">
  <h2 class="section_title">
    Готовый бизнес под ключ
  </h2>
  <p class="paragraph">
    Мы не просто предлагаем вам строительство мойки самообслуживания под ключ, а готовую бизнес-модель, которая будет приносить гарантированный доход с первых дней открытия
  </p>
  <div class="ul_custom advantage_box_container">
    <a href="./business.html" class="a_custom advantage_box">
      <img class="advantage_box_image" src="./assets/images/1-ready-business.svg" alt="">
      <span class="advantage_box_label">
        Подбор и оценка земельного участка
      </span>
    </a>
    <a href="./business.html" class="a_custom advantage_box">
      <img class="advantage_box_image" src="./assets/images/2-ready-business.svg" alt="">
      <span class="advantage_box_label">
        Заключение договора на покупку оборудования
      </span>
    </a>
    <a href="./business.html" class="a_custom advantage_box">
      <img class="advantage_box_image" src="./assets/images/3-ready-business.svg" alt="">
      <span class="advantage_box_label">
        Подбор опытных и профессиональных подрядчиков на все этапы
      </span>
    </a>
    <a href="./business.html" class="a_custom advantage_box">
      <img class="advantage_box_image" src="./assets/images/4-ready-business.svg" alt="">
      <span class="advantage_box_label">
        Бесплатная франшиза “Ehrle”
      </span>
    </a>
    <a href="./business.html" class="a_custom advantage_box">
      <img class="advantage_box_image" src="./assets/images/5-ready-business.svg" alt="">
      <span class="advantage_box_label">
        Запуск мойки и обучение персонала
      </span>
    </a>
    <a href="./business.html" class="a_custom advantage_box">
      <img class="advantage_box_image" src="./assets/images/6-ready-business.svg" alt="">
      <span class="advantage_box_label">
        Сервисное обслуживание
      </span>
    </a>
  </div>
</section>
    <section class="section factors_section">
  <h2 class="section_title">
    Факторы успеха автомойки
  </h2>
  <ul class="ul_custom factor_container">
    <li class="factor_item mx-auto" :style="{transform: 'translateX(' + (-100 * selectedFactor) + '%)'}">
      <factor-circle :percent="41" :is-selected="selectedFactor===0"></factor-circle>
      <div class="title factor_item_title">
        Месторасположение
      </div>
      <ul class="ul_classic factor_item_list">
        <li>Парковки ТЦ и ГМ;</li>
        <li>Первая линия;</li>
        <li>Спальные районы;</li>
        <li>Дороги с большим трафиком;</li>
      </ul>
    </li>
    <li class="factor_item mx-auto" :style="{transform: 'translateX(' + (-100 * selectedFactor) + '%)'}">
      <factor-circle :percent="35" :is-selected="selectedFactor===1"></factor-circle>
      <div class="title factor_item_title">
        Качество оборудования
      </div>
      <ul class="ul_classic factor_item_list">
        <li>Качество мойки;</li>
        <li>Бесперебойность оборудования;</li>
        <li>Гарантия на оборудование;</li>
        <li>Эстетичный внешний вид;</li>
      </ul>
    </li>
    <li class="factor_item mx-auto" :style="{transform: 'translateX(' + (-100 * selectedFactor) + '%)'}">
      <factor-circle :percent="24" :is-selected="selectedFactor===2"></factor-circle>
      <div class="title factor_item_title">
        Маркетинговая стратегия
      </div>
      <ul class="ul_classic factor_item_list">
        <li>План развития;</li>
        <li>Бонусные программы;</li>
        <li>Корпоративные клиенты;</li>
        <li>Разнообразие систем оплат и кассовые чеки;</li>
      </ul>
    </li>
  </ul>
  <div class="factor-hide_desktop d-flex align-items-center mx-auto mb-4" style="max-width: 263px">
    <button class="btn_circle mr-auto" @click="prevFactor"><img src="./assets/images/arrow_prev.svg" alt=""></button>
    <ul class="ul_custom dot_list">
      <li class="dot_list_item" v-for="i in factorsLength" :class="{'dot_list_item-selected': selectedFactor === i-1}" :key="i"></li>
    </ul>
    <button class="btn_circle ml-auto" @click="nextFactor"><img src="./assets/images/arrow_next.svg" alt=""></button>
  </div>
  <div class="px-3">
    <button class="btn btn_primary mx-auto d-block" @click="openModal">
      Оставить заявку
    </button>
  </div>
</section>

    <section class="section qualities_section">
  <h2 class="section_title">
    Фокус на качество оборудования и мойки
  </h2>
  <ul class="ul_custom quality_container">
    <li class="quality_item">
      <div class="quality_image">
        <img src="./assets/images/1_focus.svg" alt="">
      </div>
      <p class="title quality_title">
        Немецкое качество
      </p>
    </li>
    <li class="quality_item">
      <div class="quality_image">
        <img src="./assets/images/2_focus.svg" alt="">
      </div>
      <p class="title quality_title">
        Собственная химия и все части
      </p>
    </li>
    <li class="quality_item">
      <div class="quality_image">
        <img src="./assets/images/3_focus.svg" alt="">
      </div>
      <p class="title quality_title">
        Опыт - 100 лет
      </p>
    </li>
    <li class="quality_item">
      <div class="quality_image">
        <img src="./assets/images/4_focus.svg" alt="">
      </div>
      <p class="title quality_title">
        Работа под ключ
      </p>
    </li>
    <li class="quality_item">
      <div class="quality_image">
        <img src="./assets/images/5_focus.svg" alt="">
      </div>
      <p class="title quality_title">
        Быстрая окупаемость
      </p>
    </li>
    <li class="quality_item">
      <div class="quality_image">
        <img src="./assets/images/6_focus.svg" alt="">
      </div>
      <p class="title quality_title">
        Минимум человеческого фактора
      </p>
    </li>
  </ul>

  <div class="px-3">
    <button class="btn btn_primary mx-auto d-block" @click="openModal">
      Оставить заявку
    </button>
  </div>

</section>

    <section class="section numbers_section">
  <img src="./assets/images/german_logo_hq.png" alt="" class="number_header_image">
  <h2 class="section_title mb-3">
    Ehrle в цифрах
  </h2>
  <p class="paragraph text-center mb-5">
    Продукт европейского производства
  </p>
  <ul class="ul_custom number_container py-4">
    <li class="number_item" :style="{transform: 'translateX(' + (-numberContainerWidth * selectedNumber) + 'px)'}">
      <div class="label">Мойки Ehrle есть</div>
      <div class="heading">в 34</div>
      <div>странах</div>
    </li>
    <li class="number_item" :style="{transform: 'translateX(' + (-numberContainerWidth * selectedNumber) + 'px)'}">
      <div class="label">Рентабельность более</div>
      <div class="heading">65%</div>
      <div>за один пост</div>
    </li>
    <li class="number_item" :style="{transform: 'translateX(' + (-numberContainerWidth * selectedNumber) + 'px)'}">
      <div class="label">Установлено более</div>
      <div class="heading">3000</div>
      <div>моек</div>
    </li>
    <li class="number_item" :style="{transform: 'translateX(' + (-numberContainerWidth * selectedNumber) + 'px)'}">
      <div class="label">Установлено более</div>
      <div class="heading">10000</div>
      <div>постов</div>
    </li>
  </ul>
  <div class="number-hide_desktop d-flex align-items-center mx-auto mb-4" style="max-width: 263px">
    <button class="btn_circle mr-auto" @click="prevNumber"><img src="./assets/images/arrow_prev.svg" alt=""></button>
    <ul class="ul_custom dot_list">
      <li class="dot_list_item" v-for="i in numbersLength" :class="{'dot_list_item-selected': selectedNumber === i-1}" :key="i"></li>
    </ul>
    <button class="btn_circle ml-auto" @click="nextNumber"><img src="./assets/images/arrow_next.svg" alt=""></button>
  </div>

  <div class="px-3">
    <button class="btn btn_primary mx-auto d-block" @click="openModal">
      Оставить заявку
    </button>
  </div>
</section>

    <section class="section awards_section">
  <h2 class="section_title">
    Лучшие в своём деле
    много лет подряд
  </h2>
  <ul class="ul_custom award_container">
    <li class="award_item"  :style="{transform: 'translateX(' + (-awardContainerWidth * selectedAward) + 'px)'}">
      <div class="award_image">
        <img src="./assets/images/1_reward.jpg" alt="">
      </div>
      <div class="award_title">
        <span class="fw-600">Марка Года 2018 и Лидер Юбилейного XV-летия,</span>
        выделение марки за многократные награды и лидерство в отрасли
      </div>
    </li>
    <li class="award_item"  :style="{transform: 'translateX(' + (-awardContainerWidth * selectedAward) + 'px)'}">
      <div class="award_image">
        <img src="./assets/images/award-6.jpg" alt="">
      </div>
      <div class="award_title">
        <span class="fw-600">Золотой Потребительский Лавр,</span> награда независимой исследовательской
        организации потребителей в категории лучшие Мойки Самообслуживания в годах 2015-2019
      </div>
    </li>
    <li class="award_item"  :style="{transform: 'translateX(' + (-awardContainerWidth * selectedAward) + 'px)'}">
      <div class="award_image">
        <img src="./assets/images/5_reward.jpg" alt="">
      </div>
      <div class="award_title">
        <span class="fw-600">Сертификат качества VDA</span> (Verband der Automobilindustrie)
      </div>
    </li>
    <li class="award_item award_item-wide"  :style="{transform: 'translateX(' + (-awardContainerWidth * selectedAward) + 'px)'}">
      <div class="award_image">
        <img src="./assets/images/award-7.jpg" alt="">
      </div>
      <div class="award_title">
        <span class="fw-600">Сертификат в категории Сетевые Мойки Самообслуживания</span>
      </div>
    </li>
  </ul>
  <div class="award-hide_desktop d-flex align-items-center mx-auto mb-4" style="max-width: 263px">
    <button class="btn_circle mr-auto" @click="prevAward"><img src="./assets/images/arrow_prev.svg" alt=""></button>
    <ul class="ul_custom dot_list">
      <li class="dot_list_item" v-for="i in awardsLength" :class="{'dot_list_item-selected': selectedAward === i-1}" :key="i"></li>
    </ul>
    <button class="btn_circle ml-auto" @click="nextAward"><img src="./assets/images/arrow_next.svg" alt=""></button>
  </div>
</section>

    <section class="section partners_section">
  <div class="section_title mb-3">
    Наши партнеры
  </div>
  <p class="section_subtitle">
    Нам доверились самые крупные компании с мировым именем,
    мы дорожим каждым партнером
  </p>
  <div class="partner_images">
    <img class="d-none d-md-inline-block" src="./assets/images/brands.jpg" srcset="./assets/images/brands@2x.jpg 2x" alt="">
    <img class="d-md-none" src="./assets/images/brands_mobile.jpg" srcset="./assets/images/brands_mobile@2x.jpg 2x" alt="">
  </div>
</section>

    <section class="section examples_section">
  <div class="container">
    <h2 class="section_title">
      Примеры работающих объектов партнеров
    </h2>
    <div class="object">
      <div class="object_select">
      </div>
      <div class="object_basic">
        <div class="object_basic_title">
          <img src="./assets/images/location.svg" alt="">
          <span>Автомойка в Алматы, ул. Майлина 79/1</span>
        </div>
        <ul class="ul_classic d-flex object_basic_info">
          <li class="mr-3 mb-2">Открытие - 21 дек, 2019</li>
          <li class="mr-3 mb-2">Кол-во постов - 4</li>
        </ul>
      </div>
      <div class="object_body">
        <gallery-block class="object_gallery">
          <div class="object_gallery_selected_image"><img src="./assets/images/gallery/1.jpg" alt=""></div>
          <ul class="ul_custom object_gallery_thumbnails">
            <li class="object_gallery_thumbnail"><img src="./assets/images/gallery/2_tn.jpg" alt=""></li>
            <li class="object_gallery_thumbnail"><img src="./assets/images/gallery/3_tn.jpg" alt=""></li>
            <li class="object_gallery_thumbnail"><img src="./assets/images/gallery/4_tn.jpg" alt=""></li>
            <li class="object_gallery_thumbnail object_gallery_thumbnail-blurred">
              <img src="../assets/images/gallery/5_tn.jpg" alt="">
              <span class="object_gallery_thumbnail_info">+5</span>
            </li>
          </ul>
        </gallery-block>
        <div class="object_information">
          <div class="object_information_steps mb-4">
            <div class="label mb-2">Этапы работ:</div>
            <ul class="ul_custom step_list">
              <li class="step_item">
                <div class="step_item_number">
                  <span>1</span>
                </div>
                <div class="step_item_label">
                  Выбор участка и изменение целевого назначения земли
                </div>
                <div class="step_item_description" style="white-space: nowrap;">4 мес.</div>
              </li>
              <li class="step_item">
                <div class="step_item_number">
                  <span>2</span>
                </div>
                <div class="step_item_label">
                  Разработали строительный проект и дизайн проект
                </div>
                <div class="step_item_description">2 мес.</div>
              </li>
              <li class="step_item">
                <div class="step_item_number">
                  <span>3</span>
                </div>
                <div class="step_item_label">
                  Построили автомойку с нуля
                </div>
                <div class="step_item_description">3 мес.</div>
              </li>
              <li class="step_item">
                <div class="step_item_number">
                  <span>4</span>
                </div>
                <div class="step_item_label">
                  Монтаж оборудования и запуск
                </div>
                <div class="step_item_description">2 нед.</div>
              </li>
            </ul>
          </div>
          <div class="object_information_results mb-5">
            <div class="label mb-2">Результаты:</div>
            <ul class="ul_classic pl-1">
              <li class="paragraph mb-2">
                Открылись за - 289 дней
              </li>
              <li class="paragraph mb-2">
                Общие инвестиции - 20 млн. тенге
              </li>
              <li class="paragraph mb-2">
                Окупаемость за - 2,5 года
              </li>
              <li class="paragraph mb-2">
                Прибыль в год - 8 млн. тенге
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <section class="section form_section">
  <h2 class="section_title">
    Пора открывать свой бизнес
  </h2>
  <form class="form_container" @submit.prevent="handleSubmit('form section')">
    <div class="form_item form_field">
      <input type="text" class="input" id="name" placeholder=" " v-model="name">
      <label for="name" class="input_label"><span>Имя Фамилия</span></label>
    </div>
    <div class="form_item form_field">
      <input type="text" class="input" id="phone" placeholder="+7 (000) 000 - 00 - 00" v-mask="'+7(7##)### ## ##'" v-model="phone">
      <label for="phone" class="input_label"><span>Телефон</span></label>
    </div>
    <div class="form_item">
      <button type="submit" class="btn btn_primary">Оставить заявку</button>
    </div>
  </form>
<!--  <p class="form_subtitle">Оставляя заявку, вы соглашаетесь на <a href="#" target="_blank">обработку персональных данных</a> и c <a href="#" target="_blank">условиями бронирования счёта</a></p>-->
</section>
    <footer class="footer">
  <div class="footer_container_row">
    <div class="item">
      <div class="footer_label">
        Еще больше информации
      </div>
      <ul class="ul_custom">
        <li class="footer_link">
          <a href="#" target="_blank">Почему Ehrle?</a>
        </li>
        <li class="footer_link">
          <a href="#" target="_blank">Программа лояльности</a>
        </li>
<!--        <li class="footer_link">-->
<!--          <a href="#" target="_blank">Инвестиционный процесс шаг за шагом</a>-->
<!--        </li>-->
<!--        <li class="footer_link">-->
<!--          <a href="#" target="_blank">Галерея реализации</a>-->
<!--        </li>-->
<!--        <li class="footer_link">-->
<!--          <a href="#" target="_blank">Спроектируй свою мойку</a>-->
<!--        </li>-->
<!--        <li class="footer_link">-->
<!--          <a href="#" target="_blank">Стройка И Монтаж Автомойки EHRLE</a>-->
<!--        </li>-->
<!--        <li class="footer_link">-->
<!--          <a href="#" target="_blank">Ehrle в зимний период</a>-->
<!--        </li>-->
      </ul>
    </div>
    <div class="item">
      <div class="footer_label">
        Контакты для связи
      </div>
      <ul class="ul_custom">
        <li class="footer_link footer_link_contact icon_block link_contact">
          <a href="tel: +7 (702) 777-77-77" target="_blank">
            <div class="icon_block_icon">
              <img src="./assets/images/phone.svg" alt="">
            </div>
            <div class="icon_block_value pseudo_link">+7 (702) 777-77-77</div>
            <div class="icon_block_subtitle">Номер телефона</div>
          </a>
        </li>
        <li class="footer_link footer_link_contact icon_block link_contact">
          <a href="mailto: EhrleCA@gmail.com" target="_blank">
            <div class="icon_block_icon">
              <img src="./assets/images/email.svg" alt="">
            </div>
            <div class="icon_block_value pseudo_link">EhrleCA@gmail.com</div>
            <div class="icon_block_subtitle">Адрес почты</div>
          </a>
        </li>
        <li class="footer_link footer_link_contact icon_block link_contact">
          <a href="#" target="_blank">
            <div class="icon_block_icon">
              <img src="./assets/images/map.svg" alt="">
            </div>
            <div class="icon_block_value pseudo_link">г. Алматы, <br/>ул. Фурманова 38б</div>
            <div class="icon_block_subtitle">Наш офис</div>
          </a>
        </li>
      </ul>
    </div>
    <div class="item item-wide">
      <div class="d-sm-flex flex-wrap">
        <div class="footer_label">Приходите к нам в гости</div>
        <div class="footer_social social_links">
          <div class="footer_label social_label">Мы в соц. сетях:</div>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_vk.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_instagram.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_twitter.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_facebook.svg" alt="">
          </a>
        </div>
      </div>
      <a href="#" target="_blank" class="footer_map">
        <img src="./assets/images/map.jpg" srcset="./assets/images/map@2x.jpg 2x" alt="">
      </a>
    </div>
  </div>
  <div class="footer_container">
    <div class="footer_line"></div>
    <div class="footer_external_links">
      <!--<a href="#" target="_blank">Обработка персональных данных</a>-->
      <!--<a href="#" target="_blank">Условия бронирования счёта</a>-->
      <!--<a href="#" target="_blank">Пользовательское соглашение</a>-->
      <span>Copyright © 2019 <a href="/">EHRLE.</a> Все права защищены.</span>
    </div>
  </div>
</footer>

    <div class="modal_wrapper" :class="{'modal_wrapper-show': showModal}">
    <div class="modal_backdrop" @click="closeModal"></div>
    <div class="modal_container justify-content-between">
        <button class="btn_custom modal_close" @click="closeModal"><img src="./assets/images/menu_close.svg" alt=""></button>
        <div class="modal_body">
            <h2 class="heading ">Введите ваши данные</h2>
            <form class="modal_form" @submit.prevent="handleSubmit('form modal')">
                <div class="form_item form_field">
                    <input type="text" class="input" id="modal_name" placeholder=" " v-model="name">
                    <label for="modal_name" class="input_label"><span>Имя Фамилия</span></label>
                </div>
                <div class="form_item form_field">
                    <input type="text" class="input" id="modal_phone" placeholder="+7 (000) 000 - 00 - 00"  v-mask="'+7(7##)### ## ##'" v-model="phone">
                    <label for="modal_phone" class="input_label"><span>Телефон</span></label>
                </div>
                <div class="form_item">
                    <button type="submit" class="btn btn_primary">Оставить заявку</button>
                </div>
            </form>
<!--            <p class="form_subtitle text-center mt-4">Оставляя заявку, вы соглашаетесь на <a href="#" target="_blank">обработку персональных данных</a> и c <a href="#" target="_blank">условиями бронирования счёта</a></p>-->
        </div>
    </div>
</div>

    <div class="modal_wrapper" :class="{'modal_wrapper-show': showSuccess}">
    <div class="modal_backdrop" @click="closeSuccessModal"></div>
    <div class="modal_container justify-content-between">
        <button class="btn_custom modal_close" @click="closeSuccessModal"><img src="./assets/images/menu_close.svg" alt=""></button>
        <div class="modal_body" v-if="request==='success'">
            <img class="mt-5" src="./assets/images/checked.svg" alt="" width="100%" style="max-width: 100%; max-height: 150px">
            <h2 class="heading ">Спасибо за вашу заявку, {{name}}</h2>
            <p class="paragraph">Наш менеджер очень скоро свяжется с вами!</p>
        </div>
        <div class="modal_body" v-if="request==='error'">
            <img class="mt-5" src="./assets/images/cancel.svg" alt="" width="100%" style="max-width: 100%; max-height: 120px">
            <h2 class="heading ">Произошла ошибка</h2>
            <p class="paragraph">К сожалению нам не удалось получить Вашу заявку.<br/>Пожалуйста, попробуйте отправить заявку снова</p>
        </div>
        <div class="modal_body" v-if="request==='loading'">
            <img class="mt-5 animate_icon-spin" src="./assets/images/spinner-of-dots.svg" alt="" width="100%" style="max-width: 100%; max-height: 150px">
            <h2 class="heading ">Отправляем вашу заявку</h2>
        </div>
    </div>
</div>

</div>
<script src="./assets/js/main.js"></script>
</body>

</html>
