<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Аппараты высокого давления - EHRLE</title>
<meta name="google-site-verification" content="" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="Бесконтактные мойки самообслуживания, которые работают 24 часа в сутки, 7 дней в неделю - все время генерируя прибыль по всей Европе и за ее пределами">
<meta name="keywords" content="мойка, автомойка, ehrle, самообслуживание, бесконтактные мойки, инвестиции">
<meta name="author" content="Yerbol Syzdyk, Aidos Kurmashev">
<!--<meta property="og:image" content="url_image">-->
<!--<meta property="og:title" content="">-->
<!--<meta property="twitter:title" content="">-->
<!--<meta property="og:description" content="">-->
<!--<meta property="twitter:description" content="">-->
<!--<meta name="twitter:image" content="">-->
<!--<meta property="og:image" content="">-->
<!--<meta property="og:type" content="website">-->
<!--<meta property="og:url" content="">-->
<!--<meta property="og:site_name" content="">-->
<!--<meta property="og:locale" content="ru-RU">-->
<!--<meta name="twitter:url" content="">-->
<!--<meta name="yandex-verification" content=""/>-->
<link rel="stylesheet" href="./assets/css/main.css"/>
<link rel="shortcut icon" href="/favicon.ico"/>
    <!-- endbuild -->
</head>
<body class="lang-ru">
<div id="app">
    <input type="hidden" value="accessories" id="sitepage">
    <header>
<div class="menu" :class="{'menu-opened': isMenuOpened}">
  <div class="container">
    <div class="menu_nav menu_row">
      <div class="menu_col">
        <a class="menu_col_title menu_title" href="./#section_products" @click="closeMenu">Продукты</a>
        <div class="menu_links">
          <a class="menu_link" href="./prod-container_carwash.html" @click="closeMenu">Контейнерные автомойки CarWash</a>
          <a class="menu_link" href="./prod-module_carwash.html" @click="closeMenu">Модульные автомойки CarWash</a>
          <a class="menu_link" href="./prod-jetwash.html" @click="closeMenu">Автомойка JetWash</a>
          <a class="menu_link" href="./prod-smartwash.html" @click="closeMenu">Автомойка SmartWash</a>
          <a class="menu_link" href="./prod-chemistry.html" @click="closeMenu">Химия</a>
          <a class="menu_link" href="./prod-metal.html" @click="closeMenu">Металлоконструкции</a>
          <a class="menu_link" href="./prod-accessories.html" @click="closeMenu">Аксессуары</a>
          <a class="menu_link" href="./prod-apparatuses.html" @click="closeMenu">Аппараты высокого давления</a>
          <a class="menu_link" href="./prod-vacuum.html" @click="closeMenu">Профессиональные пылесосы</a>
        </div>
      </div>
      <div class="menu_col">
        <a class="menu_col_title menu_title" href="./tech-beskontakt.html" @click="closeMenu">Технология</a>
        <div class="menu_links">
          <a class="menu_link" href="./tech-beskontakt.html" @click="closeMenu">Бесконтакная мойка</a>
          <a class="menu_link" href="./tech-vda.html" @click="closeMenu">Сертификат VDA</a>
          <a class="menu_link" href="./tech-modul_line.html" @click="closeMenu">Modul Line ETRONIC 4</a>
          <a class="menu_link" href="./tech-ehrlesol.html"  @click="closeMenu">EHRLESol™</a>
          <a class="menu_link" href="./tech-real_time_display.html" @click="closeMenu">Real Time Display</a>
          <a class="menu_link" href="./tech-lce_slm.html" @click="closeMenu">LCE / SLM</a>
          <a class="menu_link" href="./tech-micropowder.html" @click="closeMenu">Система Дoзaции Микpoпopoшкa</a>
          <a class="menu_link" href="./tech-foam.html" @click="closeMenu">Активная пена</a>
        </div>
      </div>
      <div class="menu_col">
        <a class="menu_col_title menu_title" href="./business.html" @click="closeMenu">Бизнес с EHRLE</a>
        <div class="menu_links">
          <a class="menu_link" href="./business.html" @click="closeMenu">Мойка под ключ</a>
          <a class="menu_link" href="./calculator.html" @click="closeMenu">Рассчёт стройки и рентабельности</a>
        </div>
        <!--<a class="menu_col_title menu_title" href="#" target="_blank">Компания</a>-->
        <!--<div class="menu_links">-->
          <!--<a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/tradicyi/" target="_blank">Традиция</a>-->
          <!--<a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/ehrle_w_mirie/" target="_blank">EHRLE в мире</a>-->
          <!--<a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/naszy_zawody/" target="_blank">Наши заводы</a>-->
          <!--<a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/nowosti_ehrle/" target="_blank">Новости EHRLE</a>-->
        <!--</div>-->
      </div>
    </div>
    <div class="menu_line"></div>
    <div class="menu_footer menu_row">
      <div class="menu_col">
        <a href="#" target="_blank" class="menu_link menu_link-accent">Почему Ehrle?</a>
        <a href="#" target="_blank" class="menu_link menu_link-accent">Программа лояльности</a>
        <div class="social_links mt-0">
          <div class="menu_title social_label mb-0">Мы в соц. сетях:</div>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_vk.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_instagram.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_twitter.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_facebook.svg" alt="">
          </a>
        </div>
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Инвестиционный процесс шаг за шагом</a>-->
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Галерея реализации</a>-->
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Спроектируй свою мойку</a>-->
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Стройка И Монтаж Автомойки EHRLE</a>-->
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Ehrle в зимний период</a>-->
      </div>
      <div class="menu_col menu_col-wide">
        <div class="menu_col_title menu_title">Приходите к нам в гости</div>
        <div class="menu_map">
          <iframe src="https://yandex.kz/map-widget/v1/-/CKEdRI2C" allowfullscreen="true"></iframe>
        </div>
      </div>
      <div class="menu_col">
      </div>
    </div>
  </div>
</div>
<nav class="nav">
  <div class="container d-flex">
    <a href="/" class="mr-xl-3 mr-1"><img class="nav_brand" src="./assets/images/ehrle_logo.png" height="40px" alt=""></a>
    <img class="nav_second_logo mr-xl-4 mr-2" src="./assets/images/german_logo.png" height="44px" alt="">
    <div class="link_contact icon_block d-none d-md-block ml-auto mr-xl-3 mr-0">
      <a href="tel: +7 (777) 323-36-78" target="_blank">
        <div class="icon_block_icon">
          <img src="./assets/images/phone.svg" alt="">
        </div>
        <div class="d-none d-xl-block icon_block_value pseudo_link">+7 (777) 323-36-78</div>
        <div class="d-none d-xl-block icon_block_subtitle">Номер телефона</div>
      </a>
    </div>
    <div class="link_contact icon_block d-none d-md-block ml-xl-3 ml-1 mr-auto">
      <a href="mailto: EhrleCA@gmail.com" target="_blank">
        <div class="icon_block_icon">
          <img src="./assets/images/email.svg" alt="">
        </div>
        <div class="d-none d-xl-block icon_block_value pseudo_link">EhrleCA@gmail.com</div>
        <div class="d-none d-xl-block icon_block_subtitle">Адрес почты</div>
      </a>
    </div>
    <div class="icon_block ml-auto">
      <button class="btn_custom" @click="toggleMenu">
        <div class="icon_block_icon">
          <div class="menu_toggler" :class="{'menu_toggler-close': isMenuOpened}"><span></span><span></span><span></span></div>
        </div>
        <div class="d-none d-xl-block icon_block_value">Меню</div>
        <div class="d-none d-xl-block icon_block_subtitle">Все для бизнеса</div>
      </button>
    </div>
    <div class="icon_block ml-xl-3 ml-1 lang_select lang_select_container" :class="{'lang_select-opened': isLanguagesSelecting}">
      <button class="btn_custom lang_select_item" v-for="lang in languages" @click="langButtonPressed(lang)" :class="{'lang_select_item-selected': lang===selectedLang}">
        <div class="icon_block_icon">
          <span class="icon_block_icon_text fw-bold">{{lang.toUpperCase()}}</span>
        </div>
      </button>
      <div class="lang_select_backdrop" @click="langButtonPressed(selectedLang)"></div>
    </div>
  </div>
</nav>
  <scroll-top v-if="showScroll"/>
</header>
    <div class="container content-first">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="./">Главная</a>
            </li>
            <li class="breadcrumbs-item">
                <a href="./#section_products">Продукты</a>
            </li>
            <li class="breadcrumbs-item">
                <span>Аппараты высокого давления</span>
            </li>
        </ul>
    </div>
    <div class="content pt-2 content-bordered">
        <div class="container">
            <h1 class="content_header">
                Аппараты высокого давления
            </h1>
            <p class="content_subtitle" style="max-width: 800px">Именно они дали начало первым бесконтактным автомойкам самообслуживания. Благодаря ним родилась фирма EHRLE</p>
            <div class="mb-5">
                <span style="max-width: 500px; display: inline-block; padding: 10px 0;">
                  <img src="./assets/images/myjki_icon.jpg" alt="" width="100%">
                </span>
            </div>
        </div>
    </div>
    <div class="content py-0">
        <div class="apparatus_item">
            <div class="container">
                <div class="apparatus_description">
                    <div class="title mb-3">Мобильные АДВ без подогрева воды</div>
                    <p class="paragraph paragraph-j">
                        Аппараты серии KD для работ, где нужна динамичная очистка. Каждый аппарат оснащен низкооборотистым (1400 об/мин), шатунным насосом с керамическими плунжерами. Рабочие параметры АВД серии KD 4x4 достигают даже 280 бар давления и производительности 1800 л/ч.
                    </p>
                    <p class="paragraph paragraph-j">
                        Порядочных размеры аппаратов не влияют на их мобильность, благодаря транспортной тележке с 4-мя резиновыми колесами. Возможности применения можно дополнительно увеличить аксессуарами из предложения EHRLE.
                    </p>
                </div>
                <div class="apparatus_models">
                    <div class="paragraph mb-2"><strong>Доступные модели оборудования</strong></div>
                    <ul class="ul_classic">
                        <li>KD 623 2X2,</li>
                        <li>KD 823 2X2,</li>
                        <li>KD 940 2X2,</li>
                        <li>KD 1140 4X4,</li>
                        <li>KD 1340 4X4,</li>
                        <li>KD 1540 4X4,</li>
                        <li>KD 1840 4X4.</li>
                    </ul>
                </div>
                <div class="apparatus_image">
                    <img src="./assets/images/myjka_zimnowodna.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="apparatus_item apparatus_item-color">
            <div class="container">
                <div class="apparatus_description">
                    <div class="title mb-3">Мобильные АВД с подогревом воды</div>
                    <p class="paragraph paragraph-j">
                        Аппараты EHRLE с подогревом воды гарантируют быструю и эффективную борьбу с масляными и жировыми загрязнениями, позволяют сократить время очистки больших поверхностей. Сила горячей воды и моющего средства обеспечивает удаление грязи быстрее и эффективнее. Регулирование рабочих параметров и высокая тепловая эффективность систем обогрева позволяет оптимально адаптировать технологию к выполняемой задачи.
                    </p>
                    <p class="paragraph paragraph-j">
                        Мобильные аппараты с подогревом воды, предназначены для работы в тяжелых условиях на открытых площадках, где нет возможности подключить оборудование к источникам энергии. Аппараты оснащены профессиональными двигателями внутреннено сгорания. Благодаря высокой производительности системы обогрева EHRLE, аппарат способен бороться за чистоту с сильными твердыми и жировыми загрязнениями.
                    </p>
                </div>
                <div class="apparatus_models">
                    <div class="paragraph mb-2"><strong>Доступные модели оборудования</strong></div>
                    <ul class="ul_classic">
                        <li>HD 640 ETRONIC,</li>
                        <li>HD 1240 ETRONIC 2,</li>
                        <li>HD 1140 ETRONIC 2,</li>
                        <li>HD 940 ETRONIC 2,</li>
                        <li>HD 840 ETRONIC 2,</li>
                        <li>HDB 1240,</li>
                        <li>HDB 1540,</li>
                        <li>HDE 800 – 18 KW,</li>
                        <li>HDE 800 – 24 KW.</li>
                    </ul>
                </div>
                <div class="apparatus_image">
                    <img src="./assets/images/myjka_goracowodna.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <img src="./assets/images/myjka_goracowodna_big.jpg" width="100%"/>
    <div class="content py-0">
        <div class="apparatus_item">
            <div class="container">
                <div class="apparatus_description">
                    <div class="title mb-3">Стационарные АВД без подогрева воды</div>
                    <p class="paragraph paragraph-j">
                        Линия аппаратов применяющихся на профессиональных автомойках и в промышленности, где обеспечена подача теплой воды из сети. Устанавливаются также и там, где выброс отработанных газов невозможен.
                    </p>
                    <p class="paragraph paragraph-j">
                        Благодаря повышенной устойчивости к воздействию горячей воды, аппарат предназначен для работы в пищевой и химической промышленности. Предлагаемые промышленные системы KSM с 1 до 6 насосов дают возможность работы с горячей водой из сети даже на 6-ти постах.
                    </p>
                </div>
                <div class="apparatus_models">
                    <div class="paragraph mb-2"><strong>Доступные модели оборудования</strong></div>
                    <ul class="ul_classic">
                        <li>KS 1040 Classic,</li>
                        <li>KSM 1840,</li>
                        <li>KSM 2740,</li>
                        <li>KSM 3640,</li>
                        <li>KSM 4540,</li>
                        <li>KSM 5440,</li>
                        <li>KSC 2040 ST.</li>
                    </ul>
                </div>
                <div class="apparatus_image">
                    <img src="./assets/images/myjka_zimnowodna_stac.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="apparatus_item apparatus_item-color">
            <div class="container">
                <div class="apparatus_description">
                    <div class="title mb-3">Стационарные АВД с подогревом воды</div>
                    <p class="paragraph paragraph-j">
                        Компания EHRLE является экспертом по очистительным системам высокого давления с подогревом воды. В настоящее время в ассортименте аппараты с дизельным, газовым либо электрическим нагревом воды, благодаря чему мы в состоянии удовлетворить пожелания разных клиентов.
                    </p>
                    <p class="paragraph paragraph-j mb-1">
                        Корпусы аппаратов изготовлены из гальванизированной стали окрашенной порошковым способом, либо из высококачественной нержавеющей стали. Размещение компонентов и регуляторов внутри аппарата гарантирует защиту от неавторизованного доступа. Обслуживающий персонал имеет доступ к включателям программ:
                    </p>
                    <ul class="ul_classic mb-2">
                        <li>мытье холодной водой</li>
                        <li>мытье горячей водой</li>
                        <li>мытье моющим средством</li>
                    </ul>
                    <p class="paragraph paragraph-j">
                        Аппараты оснащены самой современной системой контроля и управления EHRLE Etronic 2.
                    </p>
                </div>
                <div class="apparatus_models">
                    <div class="paragraph mb-2"><strong>Доступные модели оборудования</strong></div>
                    <ul class="ul_classic">
                        <li>HSC 1240 OIL,</li>
                        <li>HSC 1240 ST OIL,</li>
                        <li>HSC 1140 ST OIL,</li>
                        <li>HSC 840 ST – 18 KW,</li>
                        <li>HSC 1140 ST – 24 KW,</li>
                        <li>HSC 1140 – 30 KW,</li>
                        <li>HSC 1140 ST – GAS,</li>
                        <li>HSC 1140 OIL.</li>
                    </ul>
                </div>
                <div class="apparatus_image">
                    <img src="./assets/images/myjka_zimnowodna_stac1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <img src="./assets/images/myjka_stac.jpg" width="100%"/>
    
<div class="container py-4">
    <div class="d-flex justify-content-between">
        
        <a href="/prod-accessories.html" class="a_custom d-none d-md-block">
            <div class="pseudo_link"><i class="icon icon-arrow_prev"></i>Назад</div>
            <span class="pl-4 opacity-high">Аксессуары</span>
        </a>
        
        
        <a href="/prod-vacuum.html" class="ml-auto a_custom text-right">
            <div class="pseudo_link">Далее <i class="icon icon-arrow_next"></i></div>
            <span class="pr-4 opacity-high">Профессиональные пылесосы</span>
        </a>
        
    </div>
</div>

    <footer class="footer">
  <div class="footer_container_row">
    <div class="item">
      <div class="footer_label">
        Еще больше информации
      </div>
      <ul class="ul_custom">
        <li class="footer_link">
          <a href="#" target="_blank">Почему Ehrle?</a>
        </li>
        <li class="footer_link">
          <a href="#" target="_blank">Программа лояльности</a>
        </li>
<!--        <li class="footer_link">-->
<!--          <a href="#" target="_blank">Инвестиционный процесс шаг за шагом</a>-->
<!--        </li>-->
<!--        <li class="footer_link">-->
<!--          <a href="#" target="_blank">Галерея реализации</a>-->
<!--        </li>-->
<!--        <li class="footer_link">-->
<!--          <a href="#" target="_blank">Спроектируй свою мойку</a>-->
<!--        </li>-->
<!--        <li class="footer_link">-->
<!--          <a href="#" target="_blank">Стройка И Монтаж Автомойки EHRLE</a>-->
<!--        </li>-->
<!--        <li class="footer_link">-->
<!--          <a href="#" target="_blank">Ehrle в зимний период</a>-->
<!--        </li>-->
      </ul>
    </div>
    <div class="item">
      <div class="footer_label">
        Контакты для связи
      </div>
      <ul class="ul_custom">
        <li class="footer_link footer_link_contact icon_block link_contact">
          <a href="tel: +7 (777) 323-36-78" target="_blank">
            <div class="icon_block_icon">
              <img src="./assets/images/phone.svg" alt="">
            </div>
            <div class="icon_block_value pseudo_link">+7 (777) 323-36-78</div>
            <div class="icon_block_subtitle">Номер телефона</div>
          </a>
        </li>
        <li class="footer_link footer_link_contact icon_block link_contact">
          <a href="mailto: EhrleCA@gmail.com" target="_blank">
            <div class="icon_block_icon">
              <img src="./assets/images/email.svg" alt="">
            </div>
            <div class="icon_block_value pseudo_link">EhrleCA@gmail.com</div>
            <div class="icon_block_subtitle">Адрес почты</div>
          </a>
        </li>
        <li class="footer_link footer_link_contact icon_block link_contact">
          <a href="https://yandex.kz/maps/-/CKEPE05p" target="_blank">
            <div class="icon_block_icon">
              <img src="./assets/images/map.svg" alt="">
            </div>
            <div class="icon_block_value pseudo_link">г. Алматы, <br/>ул. Кунаева 181Б</div>
            <div class="icon_block_subtitle">Наш офис</div>
          </a>
        </li>
      </ul>
    </div>
    <div class="item item-wide">
      <div class="d-sm-flex flex-wrap">
        <div class="footer_label">Приходите к нам в гости</div>
        <div class="footer_social social_links">
          <div class="footer_label social_label">Мы в соц. сетях:</div>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_vk.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_instagram.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_twitter.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_facebook.svg" alt="">
          </a>
        </div>
      </div>
      <div class="menu_map">
        <iframe src="https://yandex.kz/map-widget/v1/-/CKEdRI2C" allowfullscreen="true"></iframe>
      </div>
    </div>
  </div>
  <div class="footer_container">
    <div class="footer_line"></div>
    <div class="footer_external_links">
      <!--<a href="#" target="_blank">Обработка персональных данных</a>-->
      <!--<a href="#" target="_blank">Условия бронирования счёта</a>-->
      <!--<a href="#" target="_blank">Пользовательское соглашение</a>-->
      <span>Copyright © 2019 <a href="/">EHRLE.</a> Все права защищены.</span>
    </div>
  </div>
</footer>

    <div class="modal_wrapper" :class="{'modal_wrapper-show': showModal}">
    <div class="modal_backdrop" @click="closeModal"></div>
    <div class="modal_scroller">
        <div class="modal_container justify-content-between">
            <button class="btn_custom modal_close" @click="closeModal"><img src="./assets/images/menu_close.svg" alt=""></button>
            <div class="modal_body">
                <h2 class="heading ">Введите ваши данные</h2>
                <form class="modal_form" @submit.prevent="handleSubmit('form modal')">
                    <div class="form_item form_field">
                        <input type="text" class="input" id="modal_name" placeholder=" " v-model="name">
                        <label for="modal_name" class="input_label"><span>Имя Фамилия</span></label>
                    </div>
                    <div class="form_item form_field">
                        <input type="text" class="input" id="modal_phone" placeholder="+7 (000) 000 - 00 - 00"  v-mask="'+7(7##)### ## ##'" v-model="phone">
                        <label for="modal_phone" class="input_label"><span>Телефон</span></label>
                    </div>
                    <div class="form_item">
                        <button type="submit" class="btn btn_primary">Оставить заявку</button>
                    </div>
                </form>
    <!--            <p class="form_subtitle text-center mt-4">Оставляя заявку, вы соглашаетесь на <a href="#" target="_blank">обработку персональных данных</a> и c <a href="#" target="_blank">условиями бронирования счёта</a></p>-->
            </div>
        </div>
    </div>
</div>

</div>
<script src="./assets/js/main.js"></script>
</body>
</html>