<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Активная пена - EHRLE</title>
<meta name="google-site-verification" content="" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="Бесконтактные мойки самообслуживания, которые работают 24 часа в сутки, 7 дней в неделю - все время генерируя прибыль по всей Европе и за ее пределами">
<meta name="keywords" content="мойка, автомойка, ehrle, самообслуживание, бесконтактные мойки, инвестиции">
<meta name="author" content="Yerbol Syzdyk, Aidos Kurmashev">
<!--<meta property="og:image" content="url_image">-->
<!--<meta property="og:title" content="">-->
<!--<meta property="twitter:title" content="">-->
<!--<meta property="og:description" content="">-->
<!--<meta property="twitter:description" content="">-->
<!--<meta name="twitter:image" content="">-->
<!--<meta property="og:image" content="">-->
<!--<meta property="og:type" content="website">-->
<!--<meta property="og:url" content="">-->
<!--<meta property="og:site_name" content="">-->
<!--<meta property="og:locale" content="ru-RU">-->
<!--<meta name="twitter:url" content="">-->
<!--<meta name="yandex-verification" content=""/>-->
<link rel="stylesheet" href="./assets/css/main.css"/>
<link rel="shortcut icon" href="/favicon.ico"/>
    <!-- endbuild -->
</head>
<body class="lang-ru">
<div id="app">
    <input type="hidden" value="chemistry" id="sitepage">
    <header>
<div class="menu" :class="{'menu-opened': isMenuOpened}">
  <div class="container">
    <div class="menu_nav menu_row">
      <div class="menu_col">
        <a class="menu_col_title menu_title" href="./#section_products" @click="closeMenu">Продукты</a>
        <div class="menu_links">
          <a class="menu_link" href="./prod-container_carwash.html" @click="closeMenu">Контейнерные автомойки CarWash</a>
          <a class="menu_link" href="./prod-module_carwash.html" @click="closeMenu">Модульные автомойки CarWash</a>
          <a class="menu_link" href="./prod-smartwash.html" @click="closeMenu">Автомойка JetWash</a>
          <a class="menu_link" href="./prod-smartwash.html" @click="closeMenu">Автомойка SmartWash</a>
          <a class="menu_link" href="./prod-chemistry.html" @click="closeMenu">Химия</a>
          <a class="menu_link" href="http://www.ehrle.kz/ru/produkty1/mietallokonstrukcyi/" target="_blank">Металлоконструкции</a>
          <a class="menu_link" href="http://www.ehrle.kz/ru/produkty1/aksiessuary/" target="_blank">Аксессуары</a>
          <a class="menu_link" href="http://www.ehrle.kz/ru/produkty1/apparaty_wysokogo_dawlenija/" target="_blank">Аппараты высокого давления</a>
          <a class="menu_link" href="http://www.ehrle.kz/ru/produkty1/profiessionalnyje_pylesosy/" target="_blank">Профессиональные пылесосы</a>
        </div>
      </div>
      <div class="menu_col">
        <a class="menu_col_title menu_title" href="./tech-beskontakt.html">Технология</a>
        <div class="menu_links">
          <a class="menu_link" href="./tech-beskontakt.html" @click="closeMenu">Бесконтакная мойка</a>
          <a class="menu_link" href="./tech-vda.html" @click="closeMenu">Сертификат VDA</a>
          <a class="menu_link" href="./tech-modul_line.html" @click="closeMenu">Modul Line ETRONIC 4</a>
          <a class="menu_link" href="./tech-ehrlesol.html"  @click="closeMenu">EHRLESol™</a>
          <a class="menu_link" href="./tech-real_time_display.html" @click="closeMenu">Real Time Display</a>
          <a class="menu_link" href="./tech-lce_slm.html" @click="closeMenu">LCE / SLM</a>
          <a class="menu_link" href="./tech-micropowder.html" @click="closeMenu">Система Дoзaции Микpoпopoшкa</a>
          <a class="menu_link" href="./tech-foam.html" @click="closeMenu">Активная пена</a>
        </div>
      </div>
      <div class="menu_col">
        <a href="#" target="_blank" class="menu_link menu_link-accent">Почему Ehrle?</a>
        <a href="#" target="_blank" class="menu_link menu_link-accent">Программа лояльности</a>
        <!--<a class="menu_col_title menu_title" href="#" target="_blank">Компания</a>-->
        <!--<div class="menu_links">-->
          <!--<a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/tradicyi/" target="_blank">Традиция</a>-->
          <!--<a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/ehrle_w_mirie/" target="_blank">EHRLE в мире</a>-->
          <!--<a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/naszy_zawody/" target="_blank">Наши заводы</a>-->
          <!--<a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/nowosti_ehrle/" target="_blank">Новости EHRLE</a>-->
        <!--</div>-->
      </div>
    </div>
    <div class="menu_line"></div>
    <div class="menu_footer menu_row">
      <div class="menu_col">
        <div class="social_links mt-0">
          <div class="menu_title social_label mb-0">Мы в соц. сетях:</div>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_vk.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_instagram.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_twitter.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_facebook.svg" alt="">
          </a>
        </div>
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Инвестиционный процесс шаг за шагом</a>-->
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Галерея реализации</a>-->
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Спроектируй свою мойку</a>-->
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Стройка И Монтаж Автомойки EHRLE</a>-->
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Ehrle в зимний период</a>-->
      </div>
      <div class="menu_col menu_col-wide">
        <div class="menu_col_title menu_title">Приходите к нам в гости</div>
        <a href="#" target="_blank" class="menu_map">
          <img src="./assets/images/map.jpg" srcset="./assets/images/map@2x.jpg 2x" alt="">
        </a>
      </div>
      <div class="menu_col">
      </div>
    </div>
  </div>
</div>
<nav class="nav">
  <div class="container d-flex">
    <a href="/" class="mr-xl-3 mr-1"><img class="nav_brand" src="./assets/images/ehrle_logo.png" height="40px" alt=""></a>
    <img class="nav_second_logo mr-xl-4 mr-2" src="./assets/images/german_logo.png" height="44px" alt="">
    <div class="link_contact icon_block d-none d-md-block ml-auto mr-xl-3 mr-0">
      <a href="tel: +77025026285" target="_blank">
        <div class="icon_block_icon">
          <img src="./assets/images/phone.svg" alt="">
        </div>
        <div class="d-none d-xl-block icon_block_value pseudo_link">+7 (702) 502-62-85</div>
        <div class="d-none d-xl-block icon_block_subtitle">Номер телефона</div>
      </a>
    </div>
    <div class="link_contact icon_block d-none d-md-block ml-xl-3 ml-1 mr-auto">
      <a href="mailto: ehrle_carwash@gmail.com" target="_blank">
        <div class="icon_block_icon">
          <img src="./assets/images/email.svg" alt="">
        </div>
        <div class="d-none d-xl-block icon_block_value pseudo_link">ehrle_carwash@gmail.com</div>
        <div class="d-none d-xl-block icon_block_subtitle">Адрес почты</div>
      </a>
    </div>
    <div class="icon_block ml-auto">
      <button class="btn_custom" @click="toggleMenu">
        <div class="icon_block_icon">
          <div class="menu_toggler" :class="{'menu_toggler-close': isMenuOpened}"><span></span><span></span><span></span></div>
        </div>
        <div class="d-none d-xl-block icon_block_value">Меню</div>
        <div class="d-none d-xl-block icon_block_subtitle">Все для бизнеса</div>
      </button>
    </div>
    <div class="icon_block ml-xl-3 ml-1 lang_select lang_select_container" :class="{'lang_select-opened': isLanguagesSelecting}">
      <button class="btn_custom lang_select_item" v-for="lang in languages" @click="langButtonPressed(lang)" :class="{'lang_select_item-selected': lang===selectedLang}">
        <div class="icon_block_icon">
          <span class="icon_block_icon_text fw-bold">{{lang.toUpperCase()}}</span>
        </div>
      </button>
      <div class="lang_select_backdrop" @click="langButtonPressed(selectedLang)"></div>
    </div>
  </div>
</nav>
  <scroll-top v-if="showScroll"/>
</header>
    <div class="container content-first">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="./">Главная</a>
            </li>
            <li class="breadcrumbs-item">
                <a href="tech-beskontakt.html">Технология</a>
            </li>
            <li class="breadcrumbs-item">
                <span>Активная пена</span>
            </li>
        </ul>
    </div>
    <section class="content pt-3 content_foam" id="foam">
        <div class="container">
            <h2 class="content_header">Активная пена</h2>
            <p class="content_subtitle">Генератор пены является дополнительным оборудованием, которое можно установить на мойках EHRLE. Активная пена подается на посты мойки отдельным пистолетом и позволяет расширить возможности автомойки следующей программой мойки.</p>
            <div class="text-center mb-5">
      <span style="max-width: 500px; display: inline-block; padding: 10px 30px;">
        <img src="./assets/images/foam.jpg" alt="" width="100%">
      </span>
            </div>
            <div class="row">
                <div class="col-md-6 mb-5">
                    <div class="video_embed">
                        <iframe v-if="smallVideoPlayed" src="https://www.youtube.com/embed/9TH7N2sIk38?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div v-else @click="smallVideoPlayed=true" class="video_embed_image" style="background-image: url(./assets/images/video_play.jpg)"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="paragraph paragraph-j">Компания EHRLE является первым производителем бесконтактных автомоек использующих инновационную технологию активной пены с системой точной дозации МикроПорошка. Активная пена повышает эффективность мойки; под её воздействием грязь размягчается, что позволяет удалить даже самые стойкие загрязнения. При исползовании современного пневматического генератора пены нужно только 1,5 – 2% химического средства для получения густой, активной пены.</p>
                    <p class="paragraph paragraph-j">Современный генератор пены из-за своих габаритов может применяется как в автомойках контейнерного типа так и модульного.</p>
                    <p class="paragraph paragraph-j">Автономный компрессор и вспомогательный насос с регулятором давления гарантируют достижение постоянно одинаковых параметров пены, несмотря на число работающих постов. Регулировка пропорции смешивания компонентов позволяет получить оптимальный химический состав, а также густоту и объём пены. А благодаря отдельной системе хранения и подачи, мягкая пена всегда готова для применения.</p>
                    <p class="paragraph paragraph-j">Опцией активной пены могут быть оборудованы как все посты на мойке, так и только выбранные. Генератор пены EHRLE может производить деликатную пену от 0,5 мм до 80 мм.</p>
                </div>
            </div>
            <div class="row px-5">
                <div class="col-sm-6 col-lg-3 mb-2 mb-sm-0 px-0">
                    <img src="./assets/images/foam1.jpg" alt="" style="width: 100%">
                </div>
                <div class="col-sm-6 col-lg-3 mb-2 mb-sm-0  px-0">
                    <img src="./assets/images/foam2.jpg" alt="" style="width: 100%">
                </div>
                <div class="col-sm-6 col-lg-3 mb-2 mb-sm-0  px-0">
                    <img src="./assets/images/foam3.jpg" alt="" style="width: 100%">
                </div>
                <div class="col-sm-6 col-lg-3 mb-2 mb-sm-0  px-0">
                    <img src="./assets/images/foam4.jpg" alt="" style="width: 100%">
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
  <div class="footer_container_row">
    <div class="item">
      <div class="footer_label">
        Еще больше информации
      </div>
      <ul class="ul_custom">
        <li class="footer_link">
          <a href="#" target="_blank">Почему Ehrle?</a>
        </li>
        <li class="footer_link">
          <a href="#" target="_blank">Программа лояльности</a>
        </li>
<!--        <li class="footer_link">-->
<!--          <a href="#" target="_blank">Инвестиционный процесс шаг за шагом</a>-->
<!--        </li>-->
<!--        <li class="footer_link">-->
<!--          <a href="#" target="_blank">Галерея реализации</a>-->
<!--        </li>-->
<!--        <li class="footer_link">-->
<!--          <a href="#" target="_blank">Спроектируй свою мойку</a>-->
<!--        </li>-->
<!--        <li class="footer_link">-->
<!--          <a href="#" target="_blank">Стройка И Монтаж Автомойки EHRLE</a>-->
<!--        </li>-->
<!--        <li class="footer_link">-->
<!--          <a href="#" target="_blank">Ehrle в зимний период</a>-->
<!--        </li>-->
      </ul>
    </div>
    <div class="item">
      <div class="footer_label">
        Контакты для связи
      </div>
      <ul class="ul_custom">
        <li class="footer_link footer_link_contact icon_block link_contact">
          <a href="#" target="_blank">
            <div class="icon_block_icon">
              <img src="./assets/images/phone.svg" alt="">
            </div>
            <div class="icon_block_value pseudo_link">+7 (702) 502-62-85</div>
            <div class="icon_block_subtitle">Номер телефона</div>
          </a>
        </li>
        <li class="footer_link footer_link_contact icon_block link_contact">
          <a href="#" target="_blank">
            <div class="icon_block_icon">
              <img src="./assets/images/email.svg" alt="">
            </div>
            <div class="icon_block_value pseudo_link">ehrle_carwash@gmail.com</div>
            <div class="icon_block_subtitle">Адрес почты</div>
          </a>
        </li>
        <li class="footer_link footer_link_contact icon_block link_contact">
          <a href="#" target="_blank">
            <div class="icon_block_icon">
              <img src="./assets/images/map.svg" alt="">
            </div>
            <div class="icon_block_value pseudo_link">г. Алматы, <br/>ул. Фурманова 38б</div>
            <div class="icon_block_subtitle">Наш офис</div>
          </a>
        </li>
      </ul>
    </div>
    <div class="item item-wide">
      <div class="d-sm-flex flex-wrap">
        <div class="footer_label">Приходите к нам в гости</div>
        <div class="footer_social social_links">
          <div class="footer_label social_label">Мы в соц. сетях:</div>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_vk.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_instagram.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_twitter.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_facebook.svg" alt="">
          </a>
        </div>
      </div>
      <a href="#" target="_blank" class="footer_map">
        <img src="./assets/images/map.jpg" srcset="./assets/images/map@2x.jpg 2x" alt="">
      </a>
    </div>
  </div>
  <div class="footer_container">
    <div class="footer_line"></div>
    <div class="footer_external_links">
      <!--<a href="#" target="_blank">Обработка персональных данных</a>-->
      <!--<a href="#" target="_blank">Условия бронирования счёта</a>-->
      <!--<a href="#" target="_blank">Пользовательское соглашение</a>-->
      <span>Copyright © 2014 - 2019 <a href="/">EHRLE.</a> Все права защищены.</span>
    </div>
  </div>
</footer>

    <div class="modal_wrapper" :class="{'modal_wrapper-show': showModal}">
    <div class="modal_backdrop" @click="closeModal"></div>
    <div class="modal_container justify-content-between">
        <button class="btn_custom modal_close" @click="closeModal"><img src="./assets/images/menu_close.svg" alt=""></button>
        <div class="modal_body">
            <h2 class="heading ">Введите ваши данные</h2>
            <form class="modal_form">
                <div class="form_item form_field">
                    <input type="text" class="input" id="modal_name" placeholder=" ">
                    <label for="modal_name" class="input_label"><span>Имя Фамилия</span></label>
                </div>
                <div class="form_item form_field">
                    <input type="text" class="input" id="modal_phone" placeholder="+7 (000) 000 - 00 - 00">
                    <label for="modal_phone" class="input_label"><span>Телефон</span></label>
                </div>
                <div class="form_item">
                    <button type="submit" class="btn btn_primary">Оставить заявку</button>
                </div>
            </form>
<!--            <p class="form_subtitle text-center mt-4">Оставляя заявку, вы соглашаетесь на <a href="#" target="_blank">обработку персональных данных</a> и c <a href="#" target="_blank">условиями бронирования счёта</a></p>-->
        </div>
    </div>
</div>

</div>
<script src="./assets/js/main.js"></script>
</body>
</html>