@import "./variables";

@mixin arrow_triangle_up($color: $c_gray_1, $width: 20px, $height: $width){
  width: 0;
  height: 0;
  border-left: $width/2 solid transparent;
  border-right: $width/2 solid transparent;
  border-bottom: $height solid $color;
}
@mixin arrow_triangle_down($color: $c_gray_1, $width: 20px, $height: $width){
  width: 0;
  height: 0;
  border-left: $width/2 solid transparent;
  border-right: $width/2 solid transparent;
  border-top: $height solid $color;
}
@mixin pseudo_block {
  content: '';
  display: block;
}
@mixin pseudo_absolute {
  @include pseudo_block();
  position: absolute;
}
@mixin trbl($top, $right: $top, $bottom: $top, $left: $right) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
@mixin square($size, $color: none) {
  display: inline-block;
  width: $size;
  height: $size;
  background: $color;
}
@mixin circle($size, $color: transparent) {
  @include square($size, $color);
  border-radius: 50%;
}
@mixin mx($left, $right: $left) {
  margin-left: $left;
  margin-right: $right;
}
@mixin my($top, $bottom: $top) {
  margin-top: $top;
  margin-bottom: $bottom;
}
@mixin py($top, $bottom: $top) {
  padding-top: $top;
  padding-bottom: $bottom;
}
@mixin px($left, $right: $left) {
  padding-left: $left;
  padding-right: $right;
}
@mixin flex() {
  display: -ms-flexbox;
  display: flex;
}
@mixin flex_wrap() {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@mixin flex_column() {
  -ms-flex-direction: column;
  flex-direction: column;
}
@mixin align_items($position) {
  -ms-flex-align: $position;
  align-items: $position;
}
@mixin justify_content($position) {
  -ms-flex-pack: $position;
  justify-content: $position;
}

@mixin row($cols, $item_selector, $item_width, $item_margin, $side_padding: 15px, $step: 1) {
  @include flex();
  @include flex_wrap();
  @include px($side_padding);
  $maxWidth: $cols * $item_width + ($cols - 1) * $item_margin + $side_padding * 2;
  max-width: $maxWidth;
  #{$item_selector} {
    width: $item_width;
    max-width: 100%;
    @include mx($item_margin, 0);
    @include my(0, $item_margin);
    &:nth-child(#{$cols + 1}n + 1) {
      @include mx($item_margin, 0);
      @include my(0, $item_margin);
    }
    &:nth-child(#{$cols}n + 1) {
      @include mx(0);
    }
  }
  @media (max-width: $maxWidth + 15px){
    @if($cols > $step) {
      @include row($cols - $step, $item_selector, $item_width, $item_margin);
    }
    @else if ($cols > 1) {
      @include row(1, $item_selector, $item_width, $item_margin);
    }
  }
}

@mixin square_image_container($size, $border_radius) {
  min-width: $size;
  height: 0;
  padding-bottom: $size;
  position: relative;
  overflow: hidden;
  border-radius: $border_radius;
  background: $c_gray_1;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@mixin icon_block() {
  position: relative;
  padding-left: 65px;
  min-height: 50px;
  overflow: auto;
  &_icon {
    position: absolute;
    @include trbl(0, auto, 0, 0);
    @include circle(50px, $c_gray_3);
    img {
      width: 100%;
    }
    &_text {
      line-height: 50px;
      text-align: center;
      display: block;
    }
  }
  &_value {
    @include my(3px, 5px);
    line-height: normal;
  }
  &_subtitle {
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    line-height: 1.29;
    color: $c_gray_4;
  }
  @media (max-width: 767.98px) {
    padding-left: 50px;
    min-height: 40px;
    &_icon {
      @include circle(40px, $c_gray_3);
      &_text {
        line-height: 40px;
      }
    }
    &_value {
      @include my(0, 3px);
      line-height: normal;
    }
  }
}

@mixin button_color($name, $color, $text) {
  #{$name} {
    background: $color;
    border: 2px solid $color;
    color: $text;
    transition: .15s;
    outline: none;
    &:hover {
      transition: 0s;
      background: darken($color, 10);
      border-color: darken($color, 10);
    }
    &:active {
      transition: 0s;
      background: lighten($color, 10);
      border-color: lighten($color, 10);
      box-shadow: none;
      outline: none;
    }
    &:focus:not(:active) {
      transition: 0s;
      outline: none;
      box-shadow: 0 0 20px 2px rgba($color, .7);
    }
  }
  #{$name}#{& + '_outline'} {
    background: transparent;
    border: 2px solid $color;
    color: $color;
    &:hover {
      background: $color;
      color: $text;
    }
    &:active {
      background: lighten($color, 10);
      border-color: lighten($color, 10);
      color: $text
    }
    &:focus:not(:active) {
      background: rgba($color, .3);
      color: darken($color, 20);
    }
  }
}

@mixin ul_custom() {
  list-style: none;
  padding: 0;
  @include my(0);
}

@mixin arrow_down($size: 16px) {
  width: $size;
  height: $size;
  border: none;
  background: url($images + '/arrow_down.svg') center no-repeat;
  background-size: contain;
}
@mixin backdrop() {
  position: fixed;
  @include trbl(0);
  background: rgba($c_dark, .6);
  cursor: pointer;
}
@mixin section_top_padding() {
  @media (min-width: 768px) {
    padding-top: 70px;
  }
}
@mixin form_input {
  min-height: 40px;
  min-width: 40px;
  padding: 10px 16px;
  font-size: 16px;
  background: $c_gray_1;
  color: $c_dark;
  border-radius: 8px;
  font-weight: 500;
}
@mixin radio_container() {
  @include ul_custom;
  @include flex;
  @include flex-wrap;
  border-radius: 8px;
  &-nowrap {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
@mixin radio_item() {
  @include form_input;
  display: block;
  cursor: pointer;
  text-align: center;
  transition: .15s;
  &-squared {
    width: 40px;
    height: 40px;
    @include py(auto);
  }
  &:hover {
    transition: 0s;
    background: darken($c_gray_1, 3);
  }
  &-selected, &-selected:hover {
    background: $c_dark;
    color: white;
  }
}

@mixin form_input_container() {
  position: relative;
  display: inline-block;
  &-block {
    display: block;
  }
  @include form_input;
  @include py(0);
  @include px(6px, 0);
  select, input {
    @include form_input;
    @include px(10px, 16px);
    @include py(0);
    outline: none;
    border: none;
    height: 40px;
    position: relative;
    cursor: pointer;
    width: 100%;
    &::placeholder {
      color: $c_gray_6;
    }
  }
}

@mixin checkbox_icon($color: white) {
  &:before, &:after {
    @include pseudo_absolute;
    @include trbl(0);
    width: 0;
    height: 0;
    margin: auto;
    background: $color;
    transform-origin: center;
    transition: .3s;
  }
}

@mixin checkbox_close($color: white) {
  @include checkbox_icon($color);
  &:before {
    width: 2px;
    height: 12px;
    transform: rotate(45deg) translate(0, 0);
    transition: .15s;
  }
  &:after {
    width: 2px;
    height: 12px;
    transform: rotate(-45deg) translate(0, 0);
    transition: .15s;
  }
}

@mixin checkbox_checked($color: white) {
  @include checkbox_icon($color);
  &:before {
    width: 2px;
    height: 12px;
    transform: rotate(42deg) translate(2px, -1px);
    transition: .15s;
  }
  &:after {
    width: 2px;
    height: 7px;
    transform: rotate(-49deg) translate(-4px, -1px);
    transition: .15s;
  }
}