//Colors
$c_dark: #2c3e50;
$c_red: #d83139;
$c_red-2: #820707;
$c_gray: #6c757d;
$c_gray_1: #ecf0f1;
$c_gray_2: #95a5a6;
$c_gray_3: #f4f4f4;
$c_gray_4: #7f8c8d;
$c_gray_5: #d9d9d9;
$c_gray_6: #a9b5c2;

$images: '../images';
