@import "../2-base/variables";

.content_beskontakt {
  .paragraph {
    text-align: justify;
  }
  .accordion {
    margin: 0 0 30px 60px;
    float: right;
    max-width: 100%;
    width: 400px;
  }
  padding-bottom: 100px;
  & + .content {
    padding-top: 100px;
  }
  border-bottom: 1px solid $c_gray_1;
}