@import "../2-base/mixins";

.concepts_section {
  .radio_field {
    margin-left: 12px;
    margin-right: 12px;
  }
  .concept_description {
    margin-left: auto;
    margin-right: auto;
    @include flex;
    @include flex_wrap;
    @include justify_content(center);
    &_image {
      width: 250px;
      height: 250px;
      overflow: hidden;
      margin-right: 64px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &_body {
      max-width: 556px;
    }
  }

  .slide_list_controls {
    max-width: 870px;
    @include mx(auto);
    @include trbl(0);
    @media (max-width: 1050px) {
      max-width: 720px;
    }
  }

  //radio
  @media (max-width: 919.98px) {
    .hide_mobile {
      display: none !important;
    }
  }
  @media (min-width: 920px) {
    .hide_desktop {
      display: none !important;
    }
  }

  //mobile paragraph
  @media (max-width: 575.98px) {
    .concept_description .heading {
      font-size: 20px;
    }
  }

  //description position
  @media (max-width: 905px) {
    .concept_description {
      text-align: center;
      &_image {
        @include mx(0);
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
      }
    }
  }
}
