@import "../2-base/variables";
@import "../2-base/mixins";

header {
  position: relative;
  //height: 70px;
  @media (max-width: 768.98px) {
    height: 50px;
  }
}
.nav {
  position: fixed;
  @include trbl(0, 0, auto);
  z-index: 100;
  background: #fff;
  height: 70px;
  @include py(10px);
  @media (max-width: 767.98px) {
    height: 50px;
    @include py(5px);
    .container {
      @include align_items(center);
    }
    .nav_brand {
      height: 35px;
    }
    .nav_second_logo {
      height: 35px;
    }
  }
  .btn_custom {
    outline: none;
    &:focus {
      outline: none;
    }
  }
}
