@import "../2-base/variables";
@import "../2-base/mixins";

.numbers_section {
  @include py(0);
  @include my(160px, 80px);
  position: relative;
  background: url($images + '/earth_dots.jpg') center no-repeat;
  background-size: contain;
}
