@import "../2-base/variables";
@import "../2-base/mixins";

.hero_section {
  @mixin fixed_bg() {
    background: url($images + '/main_bg-dark.jpg') center;
    background: url($images + '/main_bg-dark.jpg') center fixed;
    background-size: cover;
    @media (max-width: 767.98px) {
      background: url($images + '/main_bg-dark.jpg') center;
    }
  }
  background-image: linear-gradient(65deg, $c_red, $c_red-2 98%);
  .slide {
    position: relative;
    overflow: hidden;
    @include fixed_bg;
    &:before {
      @include pseudo_absolute;
      @include trbl(0, 0, 0, 0);
      background: rgba(white, .9);
    }
    &:after {
      @include pseudo_absolute;
      @include circle(1500px, $c_red-2);
      @include trbl(0, 50%, 0, auto);
      @include my(auto);
      @include fixed_bg;
    }
  }
  .landing_header {
    max-width: 440px;
    font-size: 72px;
    font-weight: 800;
    line-height: normal;
    color: white;
    position: absolute;
    @include trbl(0, 50%, 0, 15px);
    @include my(auto);
    height: 370px;

  }
  .section_title {
    text-align: left;
    color: $c_red;
    margin-bottom: 30px;
  }
  .container {
    @include flex;
    @include py(calc((100vh - (540px + 135px))/2));
    @include my(85px, 50px);
    position: relative;
    z-index: 2;
  }
  .hero_container {
    max-width: 500px;
    margin-left: auto;
  }
  .paragraph {
    margin-bottom: 80px;
    .colored {
      color: $c_red;
    }
  }
  .hero_logo {
    max-width: 327px;
    margin-bottom: 50px;
    img {
      width: 100%;
    }
  }
  @media (max-width: 1199.98px) {
    .hero_container {
      max-width: 400px;
    }
    .container {
      @include my(50px);
    }
  }
  @media (max-width: 991.98px) {
    .hero_container {
      max-width: 320px;
    }
    .landing_header {
      font-size: 58px;
    }
    .container {
      @include my(50px);
    }
  }
  @media (max-width: 767.98px) {
    .slide {
      &:after, &:before {
        content: none;
      }
    }
    .container {
      @include my(40px, 80px);
    }
    .hero_container {
      max-width: 100%;
      @include mx(auto);
    }
    .landing_header {
      position: static;
      height: auto;
      max-width: none;
      font-size: 36px;
      margin-bottom: 24px;
    }
    .hero_logo, .section_title {
      display: none;
    }
    .paragraph, .paragraph .colored {
      color: white;
      margin-bottom: 48px;
      .pseudo_link {
        text-decoration: underline;
      }
    }
    .btn.btn_primary {
      @include button_color('&', white, $c_red);
    }
  }
}
