<div class="accordion accordion-stepped">
  <h3>Мойки EHRLE применяют 4 программы мытья</h3>
  <p>чтобы узнать больше, нажмите на выбранную программу</p>
  <ul class="accordion_list">
    <li class="accordion_option" :class="{'accordion_option-selected': selectedProgram===0}" @click="setProgram(0)">
      <div class="accordion_option_label">
        <div class="accordion_option_label_number">1</div>
        <figure class="accordion_option_label_image">
          <img src="./assets/images/step_1ru.png" alt="">
        </figure>
        <h6 class="accordion_option_label_title">Мойка микропорошком</h6>
      </div>
      <div class="accordion_option_body">
        <p>
          Power Pearl™ быстро удаляет грязь с поверхности автомобиля. Благодаря специальной формуле активных молекул напоминающей реакцию тысячи микрогубок, МикроПорошок безопасен для лакокрасочного покрытия автомобиля
        </p>
      </div>
    </li>
    <li class="accordion_option" :class="{'accordion_option-selected': selectedProgram===1}" @click="setProgram(1)">
      <div class="accordion_option_label">
        <div class="accordion_option_label_number">2</div>
        <figure class="accordion_option_label_image">
          <img src="./assets/images/step_2ru.png" alt="">
        </figure>
        <h6 class="accordion_option_label_title">Мойка микропорошком</h6>
      </div>
      <div class="accordion_option_body">
        <p>
          Power Pearl™ быстро удаляет грязь с поверхности автомобиля. Благодаря специальной формуле активных молекул напоминающей реакцию тысячи микрогубок, МикроПорошок безопасен для лакокрасочного покрытия автомобиля
        </p>
      </div>
    </li>
    <li class="accordion_option" :class="{'accordion_option-selected': selectedProgram===2}" @click="setProgram(2)">
      <div class="accordion_option_label">
        <div class="accordion_option_label_number">3</div>
        <figure class="accordion_option_label_image">
          <img src="./assets/images/step_3ru.png" alt="">
        </figure>
        <h6 class="accordion_option_label_title">Мойка микропорошком</h6>
      </div>
      <div class="accordion_option_body">
        <p>
          Power Pearl™ быстро удаляет грязь с поверхности автомобиля. Благодаря специальной формуле активных молекул напоминающей реакцию тысячи микрогубок, МикроПорошок безопасен для лакокрасочного покрытия автомобиля
        </p>
      </div>
    </li>
    <li class="accordion_option" :class="{'accordion_option-selected': selectedProgram===3}" @click="setProgram(3)">
      <div class="accordion_option_label">
        <div class="accordion_option_label_number">4</div>
        <figure class="accordion_option_label_image">
          <img src="./assets/images/step_4ru.png" alt="">
        </figure>
        <h6 class="accordion_option_label_title">Мойка микропорошком</h6>
      </div>
      <div class="accordion_option_body">
        <p>
          Power Pearl™ быстро удаляет грязь с поверхности автомобиля. Благодаря специальной формуле активных молекул напоминающей реакцию тысячи микрогубок, МикроПорошок безопасен для лакокрасочного покрытия автомобиля
        </p>
      </div>
    </li>
  </ul>
</div>