<footer class="footer">
  <div class="footer_container_row">
    <div class="item">
      <div class="footer_label">
        Еще больше информации
      </div>
      <ul class="ul_custom">
        <li class="footer_link">
          <a href="#" target="_blank">Реализованные проекты</a>
        </li>
        <li class="footer_link">
          <a href="#" target="_blank">Пакеты для инвесторов</a>
        </li>
        <li class="footer_link">
          <a href="#" target="_blank">Новости</a>
        </li>
        <li class="footer_link">
          <a href="#" target="_blank">О компании</a>
        </li>
        <li class="footer_link">
          <a href="#" target="_blank">Команда</a>
        </li>
        <li class="footer_link">
          <a href="#" target="_blank">Часто задаваемые вопросы</a>
        </li>
      </ul>
    </div>
    <div class="item">
      <div class="footer_label">
        Контакты для связи
      </div>
      <ul class="ul_custom">
        <li class="footer_link footer_link_contact icon_block link_contact">
          <a href="#" target="_blank">
            <div class="icon_block_icon">
              <img src="./assets/images/phone.svg" alt="">
            </div>
            <div class="icon_block_value pseudo_link">+7 (702) 502-62-85</div>
            <div class="icon_block_subtitle">Номер телефона</div>
          </a>
        </li>
        <li class="footer_link footer_link_contact icon_block link_contact">
          <a href="#" target="_blank">
            <div class="icon_block_icon">
              <img src="./assets/images/email.svg" alt="">
            </div>
            <div class="icon_block_value pseudo_link">ehrle_carwash@gmail.com</div>
            <div class="icon_block_subtitle">Адрес почты</div>
          </a>
        </li>
        <li class="footer_link footer_link_contact icon_block link_contact">
          <a href="#" target="_blank">
            <div class="icon_block_icon">
              <img src="./assets/images/map.svg" alt="">
            </div>
            <div class="icon_block_value pseudo_link">г. Алматы, <br/>ул. Фурманова 38б</div>
            <div class="icon_block_subtitle">Наш офис</div>
          </a>
        </li>
      </ul>
    </div>
    <div class="item item-wide">
      <div class="d-flex flex-wrap">
        <div class="footer_label">Приходите к нам в гости</div>
        <div class="footer_social">
          <div class="footer_label">Мы в соц. сетях:</div>
          <a class="footer_social_link" href="#" target="_blank">
            <img src="./assets/images/social_vk.svg" alt="">
          </a>
          <a class="footer_social_link" href="#" target="_blank">
            <img src="./assets/images/social_instagram.svg" alt="">
          </a>
          <a class="footer_social_link" href="#" target="_blank">
            <img src="./assets/images/social_twitter.svg" alt="">
          </a>
          <a class="footer_social_link" href="#" target="_blank">
            <img src="./assets/images/social_facebook.svg" alt="">
          </a>
        </div>
      </div>
      <a href="#" target="_blank" class="footer_map">
        <img src="./assets/images/map.jpg" srcset="./assets/images/map@2x.jpg 2x" alt="">
      </a>
    </div>
  </div>
  <div class="footer_container">
    <div class="footer_line"></div>
    <div class="footer_external_links">
      <a href="#" target="_blank">Обработка персональных данных</a>
      <a href="#" target="_blank">Условия бронирования счёта</a>
      <a href="#" target="_blank">Пользовательское соглашение</a>
      <span>Copyright © 2014 - 2019 <a href="/">EHRLE.</a> Все права защищены.</span>
    </div>
  </div>
</footer>
