<div class="menu" :class="{'menu-opened': isMenuOpened}">
  <div class="container">
    <div class="menu_nav menu_row">
      <div class="menu_col">
        <a class="menu_col_title menu_title" href="./#section_products" @click="closeMenu">Продукты</a>
        <div class="menu_links">
          <a class="menu_link" href="./prod-container_carwash.html" @click="closeMenu">Контейнерные автомойки CarWash</a>
          <a class="menu_link" href="./prod-module_carwash.html" @click="closeMenu">Модульные автомойки CarWash</a>
          <a class="menu_link" href="./prod-smartwash.html" @click="closeMenu">Автомойка JetWash</a>
          <a class="menu_link" href="./prod-smartwash.html" @click="closeMenu">Автомойка SmartWash</a>
          <a class="menu_link" href="./prod-chemistry.html" @click="closeMenu">Химия</a>
          <a class="menu_link" href="http://www.ehrle.kz/ru/produkty1/mietallokonstrukcyi/" target="_blank">Металлоконструкции</a>
          <a class="menu_link" href="http://www.ehrle.kz/ru/produkty1/aksiessuary/" target="_blank">Аксессуары</a>
          <a class="menu_link" href="http://www.ehrle.kz/ru/produkty1/apparaty_wysokogo_dawlenija/" target="_blank">Аппараты высокого давления</a>
          <a class="menu_link" href="http://www.ehrle.kz/ru/produkty1/profiessionalnyje_pylesosy/" target="_blank">Профессиональные пылесосы</a>
        </div>
      </div>
      <div class="menu_col">
        <a class="menu_col_title menu_title" href="./tech-beskontakt.html">Технология</a>
        <div class="menu_links">
          <a class="menu_link" href="./tech-beskontakt.html" @click="closeMenu">Бесконтакная мойка</a>
          <a class="menu_link" href="./tech-vda.html" @click="closeMenu">Сертификат VDA</a>
          <a class="menu_link" href="./tech-modul_line.html" @click="closeMenu">Modul Line ETRONIC 4</a>
          <a class="menu_link" href="./tech-ehrlesol.html"  @click="closeMenu">EHRLESol™</a>
          <a class="menu_link" href="./tech-real_time_display.html" @click="closeMenu">Real Time Display</a>
          <a class="menu_link" href="./tech-lce_slm.html" @click="closeMenu">LCE / SLM</a>
          <a class="menu_link" href="./tech-micropowder.html" @click="closeMenu">Система Дoзaции Микpoпopoшкa</a>
          <a class="menu_link" href="./tech-foam.html" @click="closeMenu">Активная пена</a>
        </div>
      </div>
      <div class="menu_col">
        <a href="#" target="_blank" class="menu_link menu_link-accent">Почему Ehrle?</a>
        <a href="#" target="_blank" class="menu_link menu_link-accent">Программа лояльности</a>
        <!--<a class="menu_col_title menu_title" href="#" target="_blank">Компания</a>-->
        <!--<div class="menu_links">-->
          <!--<a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/tradicyi/" target="_blank">Традиция</a>-->
          <!--<a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/ehrle_w_mirie/" target="_blank">EHRLE в мире</a>-->
          <!--<a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/naszy_zawody/" target="_blank">Наши заводы</a>-->
          <!--<a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/nowosti_ehrle/" target="_blank">Новости EHRLE</a>-->
        <!--</div>-->
      </div>
    </div>
    <div class="menu_line"></div>
    <div class="menu_footer menu_row">
      <div class="menu_col">
        <div class="social_links mt-0">
          <div class="menu_title social_label mb-0">Мы в соц. сетях:</div>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_vk.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_instagram.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_twitter.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_facebook.svg" alt="">
          </a>
        </div>
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Инвестиционный процесс шаг за шагом</a>-->
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Галерея реализации</a>-->
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Спроектируй свою мойку</a>-->
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Стройка И Монтаж Автомойки EHRLE</a>-->
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Ehrle в зимний период</a>-->
      </div>
      <div class="menu_col menu_col-wide">
        <div class="menu_col_title menu_title">Приходите к нам в гости</div>
        <a href="#" target="_blank" class="menu_map">
          <img src="./assets/images/map.jpg" srcset="./assets/images/map@2x.jpg 2x" alt="">
        </a>
      </div>
      <div class="menu_col">
      </div>
    </div>
  </div>
</div>