<div class="menu" :class="{'menu-opened': isMenuOpened}">
  <div class="container">
    <div class="menu_nav menu_row">
      <div class="menu_col">
        <a class="menu_col_title menu_title" href="./#section_products" @click="closeMenu">Продукты</a>
        <div class="menu_links">
          <a class="menu_link" href="./prod-container_carwash.html" @click="closeMenu">Контейнерные автомойки CarWash</a>
          <a class="menu_link" href="./prod-module_carwash.html" @click="closeMenu">Модульные автомойки CarWash</a>
          <a class="menu_link" href="./prod-jetwash.html" @click="closeMenu">Автомойка JetWash</a>
          <a class="menu_link" href="./prod-smartwash.html" @click="closeMenu">Автомойка SmartWash</a>
          <a class="menu_link" href="./prod-chemistry.html" @click="closeMenu">Химия</a>
          <a class="menu_link" href="./prod-metal.html" @click="closeMenu">Металлоконструкции</a>
          <a class="menu_link" href="./prod-accessories.html" @click="closeMenu">Аксессуары</a>
          <a class="menu_link" href="./prod-apparatuses.html" @click="closeMenu">Аппараты высокого давления</a>
          <a class="menu_link" href="./prod-vacuum.html" @click="closeMenu">Профессиональные пылесосы</a>
        </div>
      </div>
      <div class="menu_col">
        <a class="menu_col_title menu_title" href="./tech-beskontakt.html" @click="closeMenu">Технология</a>
        <div class="menu_links">
          <a class="menu_link" href="./tech-beskontakt.html" @click="closeMenu">Бесконтакная мойка</a>
          <a class="menu_link" href="./tech-vda.html" @click="closeMenu">Сертификат VDA</a>
          <a class="menu_link" href="./tech-modul_line.html" @click="closeMenu">Modul Line ETRONIC 4</a>
          <a class="menu_link" href="./tech-ehrlesol.html"  @click="closeMenu">EHRLESol™</a>
          <a class="menu_link" href="./tech-real_time_display.html" @click="closeMenu">Real Time Display</a>
          <a class="menu_link" href="./tech-lce_slm.html" @click="closeMenu">LCE / SLM</a>
          <a class="menu_link" href="./tech-micropowder.html" @click="closeMenu">Система Дoзaции Микpoпopoшкa</a>
          <a class="menu_link" href="./tech-foam.html" @click="closeMenu">Активная пена</a>
        </div>
      </div>
      <div class="menu_col">
        <a class="menu_col_title menu_title" href="./business.html" @click="closeMenu">Бизнес с EHRLE</a>
        <div class="menu_links">
          <a class="menu_link" href="./business.html" @click="closeMenu">Мойка под ключ</a>
          <a class="menu_link" href="./calculator.html" @click="closeMenu">Рассчёт стройки и рентабельности</a>
        </div>
        <!--<a class="menu_col_title menu_title" href="#" target="_blank">Компания</a>-->
        <!--<div class="menu_links">-->
          <!--<a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/tradicyi/" target="_blank">Традиция</a>-->
          <!--<a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/ehrle_w_mirie/" target="_blank">EHRLE в мире</a>-->
          <!--<a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/naszy_zawody/" target="_blank">Наши заводы</a>-->
          <!--<a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/nowosti_ehrle/" target="_blank">Новости EHRLE</a>-->
        <!--</div>-->
      </div>
    </div>
    <div class="menu_line"></div>
    <div class="menu_footer menu_row">
      <div class="menu_col">
        <a href="#" target="_blank" class="menu_link menu_link-accent">Почему Ehrle?</a>
        <a href="#" target="_blank" class="menu_link menu_link-accent">Программа лояльности</a>
        <div class="social_links mt-0">
          <div class="menu_title social_label mb-0">Мы в соц. сетях:</div>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_vk.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_instagram.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_twitter.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_facebook.svg" alt="">
          </a>
        </div>
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Инвестиционный процесс шаг за шагом</a>-->
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Галерея реализации</a>-->
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Спроектируй свою мойку</a>-->
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Стройка И Монтаж Автомойки EHRLE</a>-->
<!--        <a href="#" target="_blank" class="menu_link menu_link-accent">Ehrle в зимний период</a>-->
      </div>
      <div class="menu_col menu_col-wide">
        <div class="menu_col_title menu_title">Приходите к нам в гости</div>
        <div class="menu_map">
          <iframe src="https://yandex.kz/map-widget/v1/-/CKELjC2h" allowfullscreen="true"></iframe>
        </div>
      </div>
      <div class="menu_col">
      </div>
    </div>
  </div>
</div>