<div class="menu" :class="{'menu-opened': isMenuOpened}">
  <div class="container">
    <div class="menu_nav menu_row">
      <div class="menu_col">
        <a class="menu_col_title menu_title" href="#" target="_blank">Продукты</a>
        <div class="menu_links">
          <a class="menu_link" href="./container_carwash.html" @click="closeMenu">Контейнерные автомойки CarWash</a>
          <a class="menu_link" href="./module_carwash.html" @click="closeMenu">Модульные автомойки CarWash</a>
          <a class="menu_link" href="./smartwash.html" @click="closeMenu">Автомойка JetWash</a>
          <a class="menu_link" href="./smartwash.html" @click="closeMenu">Автомойка SmartWash</a>
          <a class="menu_link" href="./chemistry.html" @click="closeMenu">Химия</a>
          <a class="menu_link" href="http://www.ehrle.kz/ru/produkty1/mietallokonstrukcyi/" target="_blank">Металлоконструкции</a>
          <a class="menu_link" href="http://www.ehrle.kz/ru/produkty1/aksiessuary/" target="_blank">Аксессуары</a>
          <a class="menu_link" href="http://www.ehrle.kz/ru/produkty1/apparaty_wysokogo_dawlenija/" target="_blank">Аппараты высокого давления</a>
          <a class="menu_link" href="http://www.ehrle.kz/ru/produkty1/profiessionalnyje_pylesosy/" target="_blank">Профессиональные пылесосы</a>
        </div>
      </div>
      <div class="menu_col">
        <a class="menu_col_title menu_title" href="#" target="_blank">Компания</a>
        <div class="menu_links">
          <a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/tradicyi/" target="_blank">Традиция</a>
          <a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/ehrle_w_mirie/" target="_blank">EHRLE в мире</a>
          <a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/naszy_zawody/" target="_blank">Наши заводы</a>
          <a class="menu_link" href="http://www.ehrle.kz/ru/kompanija/nowosti_ehrle/" target="_blank">Новости EHRLE</a>
        </div>
      </div>
      <div class="menu_col">
        <a class="menu_col_title menu_title" href="#" target="_blank">Технология</a>
        <div class="menu_links">
          <a class="menu_link" href="./beskontakt.html#beskontakt" @click="closeMenu">Бесконтакная мойка</a>
          <a class="menu_link" href="./beskontakt.html#vda" @click="closeMenu">Сертификат VDA</a>
          <a class="menu_link" href="./beskontakt.html#modul_line" @click="closeMenu">Modul Line ETRONIC 4</a>
          <a class="menu_link" href="./beskontakt.html#ehrlesol"  @click="closeMenu">EHRLESol™</a>
          <a class="menu_link" href="./beskontakt.html#real_time_display" @click="closeMenu">Real Time Display</a>
          <a class="menu_link" href="./beskontakt.html#lce_slm" @click="closeMenu">LCE / SLM</a>
          <a class="menu_link" href="./beskontakt.html#micropowder" @click="closeMenu">Система Дoзaции Микpoпopoшкa</a>
          <a class="menu_link" href="./beskontakt.html#foam" @click="closeMenu">Активная пена</a>
        </div>
        <div class="social_links">
          <div class="menu_title social_label mb-0">Мы в соц. сетях:</div>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_vk.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_instagram.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_twitter.svg" alt="">
          </a>
          <a class="social_link" href="#" target="_blank">
            <img src="./assets/images/social_facebook.svg" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="menu_line"></div>
    <div class="menu_footer menu_row">
      <div class="menu_col">
        <a href="#" target="_blank" class="menu_link menu_link-accent">Почему Ehrle</a>
        <a href="#" target="_blank" class="menu_link menu_link-accent">Программа лояльности</a>
        <a href="#" target="_blank" class="menu_link menu_link-accent">Инвестиционный процесс шаг за шагом</a>
        <a href="#" target="_blank" class="menu_link menu_link-accent">Галерея реализации</a>
        <a href="#" target="_blank" class="menu_link menu_link-accent">Спроектируй свою мойку</a>
        <a href="#" target="_blank" class="menu_link menu_link-accent">Стройка И Монтаж Автомойки EHRLE</a>
        <a href="#" target="_blank" class="menu_link menu_link-accent">Ehrle в зимний период</a>
      </div>
      <div class="menu_col menu_col-wide">
        <div class="menu_col_title menu_title">Приходите к нам в гости</div>
        <a href="#" target="_blank" class="menu_map">
          <img src="./assets/images/map.jpg" srcset="./assets/images/map@2x.jpg 2x" alt="">
        </a>
      </div>
      <div class="menu_col"></div>
    </div>
  </div>
</div>