@@if (prev || next) {
<div class="container py-4">
    <div class="d-flex justify-content-between">
        @@if (prev) {
        <a href="@@prev.link" class="a_custom d-none d-md-block">
            <div class="pseudo_link"><i class="icon icon-arrow_prev"></i>Назад</div>
            <span class="pl-4 opacity-high">@@prev.title</span>
        </a>
        }
        @@if (next) {
        <a href="@@next.link" class="ml-auto a_custom text-right">
            <div class="pseudo_link">Далее <i class="icon icon-arrow_next"></i></div>
            <span class="pr-4 opacity-high">@@next.title</span>
        </a>
        }
    </div>
</div>
}