.animate_icon {
  &-spin {
    display: block;
    transform-origin: center;
    animation: spin-round 3s ease-in-out infinite;
  }
  @keyframes spin-round {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}