@import "../2-base/variables";
@import "../2-base/mixins";

.apparatus {
  &_item {
    @include py(50px);
    &-color {
      background: #f7f7f7;
    }
    @media (min-width: 1390px) {
      .container {
        max-width: 1300px;
      }
    }
    .container {
      @include flex;
      justify-content: space-between;
    }
  }
  &_description {
    @include mx(0, 30px);
  }
  &_models {
    min-width: 160px;
    @include mx(20px);
  }
  &_image {
    min-width: 280px;
    @include mx(20px, 0);
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  @media (max-width: 1199.98px) {
    &_image {
      min-width: 200px;
    }
  }
  @media (max-width: 991.98px) {
    &_item .container {
      @include flex_wrap;
    }
    &_image {
      max-height: 200px;
      @include mx(0, 20px);
    }
    &_models {
      order: 1;
      @include mx(20px, auto);
    }
  }
}