@import "../2-base/variables";
@import "../2-base/mixins";

.award {
  $item_width: 165px;
  $item_distance: 60px;
  &_container {
    @include mx(auto);
    @include row(5, '.award_item', $item_width, $item_distance, 15px, 2);
    @include justify_content(around)
  }
  &_item {
    text-align: center;
    @media (max-width: 1110px) {
      @include mx(auto !important);
    }
  }
  &_image {
    height: 80px;
    display: block;
    text-align: center;
    margin-bottom: 16px;
    img {
      height: 80px;
    }
  }
  @media (max-width: 660px) {
    &_container {
      flex-wrap: nowrap;
      overflow-x: hidden;
    }
    &_item {
      min-width: 100%;
      @include mx(0px !important, 30px !important);
      transition: .3s;
    }
  }
  @media (min-width: 661px) {
    &-hide_desktop {
      display: none !important;
    }
  }
}
