@import "../2-base/variables";
@import "../2-base/mixins";

.btn_custom {
  appearance: none;
  display: inline-block;
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
  text-align: left;
  padding: 0;
  margin: 0;
}
.btn {
  width: 263px;
  height: 54px;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  transition: .15s;
  line-height: normal;
  vertical-align: middle;
  @include button_color('&', $c_gray, white);
  @include button_color('&_primary', $c_red, white);
}
