@import "../2-base/mixins";

.icon {
  @include square(12px);
  display: inline-block;
  &-faq {
    &:before {
      content: '?';
    }
    @include circle(12px, $c_gray_6);
    line-height: 12px;
    font-size: 11px;
    color: white;
    text-align: center;
    font-weight: 500;
  }
}