@import "../2-base/mixins";


.icon {
  @include iconBase;
  @each $icon in $icons {
    &-#{$icon} {
      @include icon($icon);
    }
  }
  &-faq {
    &:before {
      content: '?';
    }
    border-radius: 50%;
    background: $c_gray_6;
    line-height: 12px;
    font-size: 11px;
    color: white;
    text-align: center;
    font-weight: 500;
  }
}