@import "../2-base/variables";
@import "../2-base/mixins";

.select_field {
  @include ul_custom;
  width: 100%;
  @include my(0, 20px);
  @include px(20px);
}
.option {
  &_field {
    @include my(10px);
    &_label {
      font-size: 20px;
      font-weight: 600;
      color: $c_dark
    }
    &-selected &_label {
      color: $c_red;
    }
  }
}

.form_select {
  @include form_input_container;
  &_arrow {
    @include pseudo_absolute;
    @include square(40px);
    @include form_input;
    @include trbl(0, 0, auto, auto);
    background-image: url($images + "/arrow_down.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: center;
    background-size: 12px;
    z-index: 2;
    pointer-events: none;
  }
  select:focus ~ &_arrow {
    transform: scaleY(-1);
  }
}