@import "../2-base/variables";
@import "../2-base/mixins";

.modal {
  &_wrapper {
    position: fixed;
    z-index: 1000;
    @include trbl(0);
    @include align_items(center);
    opacity: 0;
    display: block;
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
    &-show {
      opacity: 1;
      @include flex;
      animation: fade_in .15s forwards;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }
  &_backdrop {
    position: absolute;
    @include trbl(0);
    background: rgba($c_dark, .6);
    cursor: pointer;
  }
  &_wrapper-show &_container {
    opacity: 0;
    animation: fall_down .2s .1s ease-in forwards, fade_in .2s .1s ease-in forwards;
  }
  &_container {
    position: absolute;
    @include trbl(auto, 0);
    margin: auto;
    background: white;
    max-width: 750px;
    min-height: 442px;
    border-radius: 8px;
    animation: go_up .2s .1s ease-in forwards, fade_out .2s .1s ease-in forwards;
  }
  &_body {
    max-width: 382px;
    @include mx(auto);
    .heading {
      @include my(48px, 32px);
      text-align: center;
    }
  }
  &_close {
    position: absolute;
    @include trbl(0, 0, auto, auto);
  }
  &_form {
    margin: auto;
    width: 263px;
    & .form_field {
      margin-bottom: 16px;
    }
  }
  @media (max-width: 767.98px) {
    &_container {
      height: auto;
      @include trbl(10px);
    }
    &_close {
      position: fixed;
    }
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade_out {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 0;
    display: block;
  }
  100% {
    display: none;
  }
}
@keyframes fall_down {
  0% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes go_up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-300px);
  }
}
