@import "../2-base/variables";
@import "../2-base/mixins";


.product {
  $block_width: 176px;
  $margin: 24px;
  &_container {
    max-width: $block_width*4 + $margin*3;
    margin: auto;
  }
  &_line {
    position: absolute;
    height: 8px;
    left: 0;
    right: 0;
    background: $c_gray_1;
  }
  &_item {
    width: $block_width;
    position: relative;
    color: $c_dark;
    text-align: center;
    &_image {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
    &_label {
      font-family: Qanelas, sans-serif;
      font-size: 14px;
    }
    &_active &_label  {
      color: $c_red;
    }
    &_active {
      &:after {
        content: '';
        display: block;
        bottom: 0;
        margin: auto;
        @include arrow_up($c_gray_1, 32px, 20px);
      }
    }
  }
  &_description {
    position: relative;
    max-width: 578px;
    &_list {
      & > li {
        margin-bottom: 8px;
      }
    }
    &_image {
      position: absolute;
      width: 456px;
      left: 100%;
      top: 0;
      @include mx(100px, 0);
    }
  }
}
