@import "../2-base/variables";
@import "../2-base/mixins";


.product {
  $block_width: 176px;
  $margin: 24px;
  $maxWidth: $block_width*4 + $margin*3;
  &_container {
    max-width: $maxWidth;
    margin: auto;
  }
  &_line {
    position: absolute;
    height: 8px;
    left: 15px;
    right: 15px;
    max-width: 100%;
    background: $c_gray_1;
    @media (max-width: $maxWidth) {
      display: none;
    }
  }
  &_item {
    width: $block_width;
    position: relative;
    color: $c_dark;
    text-align: center;
    &_image {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
    &_label {
      font-family: Qanelas, sans-serif;
      font-size: 14px;
      height: 32px;
    }
    &_active &_label  {
      color: $c_red;
    }
    &_active {
      &:after {
        content: '';
        display: block;
        bottom: 0;
        margin: auto;
        @include arrow_triangle_up($c_gray_1, 32px, 20px);
      }
    }
    @media (max-width: $maxWidth) {
      width: 100%;
      text-align: left;
      &_body {
        width: 100%;
        position: relative;
        @include flex;
        @include align_items(center);
        padding-right: 26px;
      }

      &_body:after {
        @include pseudo_absolute;
        @include my(auto);
        @include trbl(0, 10px, 0, auto);
        @include arrow_down(16px);
      }
      &_active &_body:after {
        transform: rotate(180deg);
      }
      &_image {
        width: 60px;
        @include mx(16px);
      }
      &_label {
        font-size: 20px;
        font-weight: 600;
        text-align: left;
        margin-bottom: 0;
        height: auto;
      }
      &:after {
        @include pseudo_block;
        position: absolute;
        height: 1px;
        bottom: 0;
        width: 100%;
        border: none;
        background: $c_gray_1;
      }
    }
  }
  &_description {
    position: relative;
    max-width: 578px;
    &_list {
      & > li {
        color: $c_dark;
        margin-bottom: 8px;
      }
    }
    &_image {
      position: absolute;
      height: 100%;
      object-fit: contain;
      left: 100%;
      top: 0;
      @include mx(auto);
    }
    @media (max-width: 1199.98px) {
      &_image {
        right: 0;
        @include mx(0);
      }
    }
    @media (max-width: 991.98px) {
      &_image {
        position: static;
        width: 100%;
        max-width: 400px;
        @include mx(0);
        @include my(0, 30px);
      }
    }
    @media (max-width: $maxWidth) {
      width: 100%;
      max-width: 635px;
      @include px(20px);
      @include my(10px, 50px);
      @include mx(auto);
    }
  }
  &_item &_description {
    max-height: 0;
    @include my(0);
    overflow-y: hidden;
    transition: .3s ease-in;
  }
  &_item_active &_description {
    max-height: 800px;
    @include my(15px, 50px);
  }
  @media (max-width: $maxWidth) {
    &-hide_desktop {
      display: none !important;
    }
  }
  @media (min-width: $maxWidth+1px) {
    &-hide_mobile {
      display: none !important;
    }
  }
}
