@import "../2-base/variables";
@import "../2-base/mixins";

.quality {
  $item_width: 360px;
  $item_distance: 30px;
  &_container {
    @include my(48px, 0);
    @include mx(auto);
    @include row(3, '.quality_item', $item_width, $item_distance);
  }
  &_item {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
  }
  &_title {
    @include mx(auto);
    max-width: 300px;
    line-height: normal;
    text-align: center;
    min-height: 58px;
  }
  &_image {
    @include my(20px);
    text-align: center;
    img {
      @include square(96px);
      object-fit: contain;
    }
  }
}
